In [2]:
import sdv
print(sdv.__version__)

1.14.0

In [3]:
# from data_synthesizer.util import  plot_training_loss, ModelType
from data_loader import DataLoader
from data_synthesizer.sdv import SDVCTGAN_
from data_evaluator import histo_plot_utility_compare, ClassifierType, MultivariateEvaluator, UtilityEvaluation, accuracy_compare
from data_evaluator.privacy_evaluation import SimilarityType
# from evaluation_report import EvaluationReportBuilder, EvaluationType, EvaluationReport
from data_synthesizer.pipeline.evaluation_task import ResemblanceEvaluationTask

### ctgan credit

In [2]:
cat_list_credit_card = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6', 'default.payment.next.month']
# cat_list_credit_card = ['EDUCATION', 'MARRIAGE', 'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6', 'default.payment.next.month']
num_list_credit_card = ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3','PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
df_real_credit_card_train = DataLoader('../data/credit_card_Train.csv').get_dataframe(cat_list_credit_card, str, drop_identation=True)
df_real_credit_card_test = DataLoader('../data/credit_card_Test.csv').get_dataframe(cat_list_credit_card, str, drop_identation=True)
df_real_credit_card_ctgan_holdout = DataLoader('../data/credit_card_Test.csv').get_dataframe(cat_list_credit_card, drop_identation=True)

In [ ]:
cat_list_adult = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']

In [3]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_real_credit_card_train)
ctgan = SDVCTGAN_(metadata, df_real_credit_card_train, verbose=False, cuda=True, epochs=1500)

discrete_columns :  ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'default.payment.next.month']

KeyboardInterrupt:

In [5]:
ctgan.fit(df_real_credit_card_train)

_fit from child
got it

In [6]:
data = ctgan.sample(24000)

In [7]:
data.to_csv('../data/credit_card_ctgan_test_new.csv', sep=',', index=False)

In [15]:
df_real_credit_card_train = DataLoader('../data/credit_card_Train.csv').get_dataframe(cat_list_credit_card, drop_identation=True)
df_real_credit_card_ctgan_test_new = DataLoader('../data/credit_card_ctgan_test_new.csv').get_dataframe(cat_list_credit_card)
df_real_credit_card_ctgan_third = DataLoader('../data/credit_card_ctgan_training_third.csv').get_dataframe(cat_list_credit_card)

In [7]:
df_real_credit_card_ctgan_test_new

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,10000.0,1,2,2,22,0,0,0,0,0,...,24966.0,23149.0,12198.0,1280.0,2016.0,590.0,636.0,437.0,524.0,0
1,185395.0,2,2,2,23,-1,-1,-1,-1,-1,...,-959.0,-1228.0,6834.0,6988.0,3923.0,1553.0,13647.0,11223.0,3346.0,1
2,13319.0,1,1,2,23,0,0,0,0,0,...,10525.0,6977.0,28702.0,4868.0,1332.0,1808.0,0.0,385.0,3036.0,0
3,264248.0,2,2,2,24,0,0,-1,-1,-2,...,2084.0,-1906.0,2440.0,1800.0,8748.0,589.0,19.0,0.0,259.0,1
4,355653.0,1,2,1,42,-1,-1,-1,-1,-1,...,3197.0,6782.0,-396.0,1087.0,7963.0,1222.0,8280.0,404.0,9.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,23508.0,1,2,2,23,2,0,0,0,0,...,34617.0,40897.0,35440.0,3227.0,2437.0,1574.0,2642.0,1849.0,2586.0,1
23996,166832.0,1,1,1,39,1,-2,-2,-2,-2,...,-867.0,-1298.0,969.0,0.0,0.0,867.0,0.0,32.0,64.0,1
23997,78340.0,1,1,2,30,0,0,0,0,0,...,29343.0,49329.0,54987.0,5007.0,1096.0,1440.0,1935.0,1152.0,1728.0,1
23998,271732.0,2,2,1,41,-1,-1,-1,-1,-1,...,1747.0,4445.0,159.0,0.0,926.0,136.0,3153.0,44.0,599.0,1
23999,56815.0,1,1,2,28,2,2,2,0,-2,...,1890.0,1188.0,-849.0,1253.0,312.0,536.0,0.0,0.0,0.0,1

In [16]:
evaluation_dict = {'CTGAN new' : 
                   (df_real_credit_card_train, df_real_credit_card_ctgan_test_new),
                    'CTGAN' :
                   (df_real_credit_card_train, df_real_credit_card_ctgan_third),
                   }

qai_columns = ['LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE']
risk_column = ['PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6','default.payment.next.month']
builder = EvaluationReportBuilder(evaluation_dict )
# builder.with_privacy(df_real_credit_card_test, qai_columns, risk_column).with_privacy_anonymeter(df_real_credit_card_test).get_evaluation()
# builder.with_privacy(df_real_credit_card_test, qai_columns, risk_column).get_evaluation()
report_ress = builder.with_resemblance().build()
# report.save('report\\report_resemblance_credit_test')

In [17]:
report_ress.display_evaluation()

Tab(children=(VBox(children=(Accordion(children=(VBox(children=(HBox(children=(HTML(value='<style type="text/c…

### ctgan Adult

In [5]:
cat_list_adult = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']

df_real_adult_train = DataLoader('../data/adult_train.csv').get_dataframe(cat_list_adult)
df_real_adult_test = DataLoader('../data/adult_test.csv').get_dataframe(cat_list_adult)

In [6]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_real_adult_train)
ctgan = SDVCTGAN_(metadata, df_real_adult_train, verbose=False, cuda=True, epochs=1500)

discrete_columns :  ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']

In [7]:
ctgan.fit(df_real_adult_train)

_fit from child
got it

In [8]:
data = ctgan.sample(32561)

In [15]:
data[data['occupation'] == ' Armed-Forces']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
316,51,Federal-gov,322582,HS-grad,9,Married-civ-spouse,Armed-Forces,Husband,White,Male,8,0,40,United-States,<=50K
1539,58,Federal-gov,189213,12th,7,Married-civ-spouse,Armed-Forces,Husband,White,Male,14,0,40,United-States,<=50K
2221,49,Federal-gov,239051,Bachelors,13,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,0,40,United-States,<=50K
2392,38,Federal-gov,304390,HS-grad,9,Married-civ-spouse,Armed-Forces,Husband,White,Male,23,0,40,United-States,<=50K
2737,30,Federal-gov,331707,Assoc-acdm,12,Married-civ-spouse,Armed-Forces,Husband,Black,Male,0,1813,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29385,32,Federal-gov,298845,Bachelors,13,Married-civ-spouse,Armed-Forces,Husband,White,Male,2,0,40,United-States,<=50K
29710,32,Federal-gov,151602,Some-college,10,Married-civ-spouse,Armed-Forces,Husband,White,Male,14,0,40,United-States,<=50K
29951,61,Federal-gov,46856,Masters,14,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,0,40,United-States,>50K
31160,47,Federal-gov,188701,Some-college,10,Never-married,Armed-Forces,Not-in-family,Black,Male,4060,0,40,United-States,<=50K
31541,58,Federal-gov,320923,Bachelors,13,Married-civ-spouse,Armed-Forces,Husband,White,Male,7688,1852,40,United-States,>50K

In [19]:
data.to_csv('../data/adult_ctgan_test_new.csv', sep=',', index=False)

### ctgan cardio

In [22]:
cat_list_cardio = ['gender','cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']

df_real_cardio_train = DataLoader('../data/cardio_train.csv').get_dataframe(cat_list_cardio, category_type=str, sep = ',')
df_real_cardio_test = DataLoader('../data/cardio_test.csv').get_dataframe(cat_list_cardio, category_type=str, sep = ',')

In [26]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_real_cardio_train)
ctgan = SDVCTGAN_(metadata, df_real_cardio_train, verbose=False, cuda=True, epochs=1500)

discrete_columns :  ['gender', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']

In [27]:
ctgan.fit(df_real_cardio_train)

_fit from child
got it

In [28]:
data = ctgan.sample(49000)

In [29]:
data.to_csv('../data/cardio_ctgan_test_new.csv', sep=',', index=False)

## Test Pipeline with Cardio - TVAE

In [1]:
# from data_synthesizer.util import  plot_training_loss, ModelType
from data_loader import DataLoader
from data_synthesizer.sdv import SDVCTGAN_, SDVTVAE_
from data_evaluator import histo_plot_utility_compare, ClassifierType, MultivariateEvaluator, UtilityEvaluation, accuracy_compare, UnivariateEvaluator
from data_evaluator.privacy_evaluation import SimilarityType
# from evaluation_report import EvaluationReportBuilder, EvaluationType, EvaluationReport
from data_synthesizer.pipeline import PipelineBuilder, TaskType

IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html

In [2]:
cat_list_credit_card = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6', 'default.payment.next.month']
# cat_list_credit_card = ['EDUCATION', 'MARRIAGE', 'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6', 'default.payment.next.month']
num_list_credit_card = ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3','PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
cat_list_adult = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']
num_list_adult = ['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
df_real_credit_card_train = DataLoader('../data/credit_card_Train.csv').get_dataframe(cat_list_credit_card, str, drop_identation=True)
df_real_credit_card_test = DataLoader('../data/credit_card_Test.csv').get_dataframe(cat_list_credit_card, str, drop_identation=True)
df_real_credit_card_ctgan_fourth = DataLoader('../data/credit_card_ctgan_training_fourth.csv').get_dataframe(cat_list_credit_card, str)
df_real_adult_train = DataLoader('../data/adult_train.csv').get_dataframe(cat_list_adult, str)
df_real_adult_test = DataLoader('../data/adult_test.csv').get_dataframe(cat_list_adult, str)

### generation pipeline

In [3]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_real_adult_train)
ctgan = SDVTVAE_(metadata, df_real_adult_train, epochs= 300, cuda=True)

In [4]:
pipeline_builder = PipelineBuilder(df_real_adult_train, cat_list_adult, num_list_adult, ctgan)
pipeline_builder.add_generation_task()
pipeline_builder.add_fine_tuning_generation_task()
# pipeline_builder.add_sampling_and_reject_task(0.1)
pipeline_builder.add_ressemblance_evaluation_task(df_real_adult_test)
pipeline = pipeline_builder.build()
synth = pipeline_builder.run()

Generation processing:
Epoch 1, Reconstruct Loss:  23.7941,KLD Loss:  0.0878
Epoch 2, Reconstruct Loss:  20.1246,KLD Loss:  0.5573
Epoch 3, Reconstruct Loss:  16.4468,KLD Loss:  1.0638
Epoch 4, Reconstruct Loss:  18.7770,KLD Loss:  1.5021
Epoch 5, Reconstruct Loss:  15.1458,KLD Loss:  2.3038
Epoch 6, Reconstruct Loss:  16.7394,KLD Loss:  2.6371
Epoch 7, Reconstruct Loss:  13.2767,KLD Loss:  3.6936
Epoch 8, Reconstruct Loss:  12.5327,KLD Loss:  4.9614
Epoch 9, Reconstruct Loss:  10.5303,KLD Loss:  4.1699
Epoch 10, Reconstruct Loss:  7.0933,KLD Loss:  4.7018
Epoch 11, Reconstruct Loss:  9.6469,KLD Loss:  5.4988
Epoch 12, Reconstruct Loss:  8.0385,KLD Loss:  5.4767
Epoch 13, Reconstruct Loss:  5.6011,KLD Loss:  7.5573
Epoch 14, Reconstruct Loss:  4.5499,KLD Loss:  6.7569
Epoch 15, Reconstruct Loss:  3.5194,KLD Loss:  7.5395
Epoch 16, Reconstruct Loss:  1.7619,KLD Loss:  6.7587
Epoch 17, Reconstruct Loss:  3.4459,KLD Loss:  8.0093
Epoch 18, Reconstruct Loss: -1.4448,KLD Loss:  7.7408
Epoch 19, Reconstruct Loss: -1.9422,KLD Loss:  7.9854
Epoch 20, Reconstruct Loss: -1.6683,KLD Loss:  10.0538
Epoch 21, Reconstruct Loss: -3.8253,KLD Loss:  8.7864
Epoch 22, Reconstruct Loss: -2.6269,KLD Loss:  9.6488
Epoch 23, Reconstruct Loss: -4.7969,KLD Loss:  9.7280
Epoch 24, Reconstruct Loss: -6.8473,KLD Loss:  10.4365
Epoch 25, Reconstruct Loss: -6.8462,KLD Loss:  11.5887
Epoch 26, Reconstruct Loss: -8.0277,KLD Loss:  11.2235
Epoch 27, Reconstruct Loss: -6.3034,KLD Loss:  10.4550
Epoch 28, Reconstruct Loss: -8.6914,KLD Loss:  10.5732
Epoch 29, Reconstruct Loss: -8.4320,KLD Loss:  10.5221
Epoch 30, Reconstruct Loss: -6.9803,KLD Loss:  11.4111
Epoch 31, Reconstruct Loss: -4.4565,KLD Loss:  11.5835
Epoch 32, Reconstruct Loss: -8.8975,KLD Loss:  11.1035
Epoch 33, Reconstruct Loss: -9.4854,KLD Loss:  11.1088
Epoch 34, Reconstruct Loss: -11.6822,KLD Loss:  11.6448
Epoch 35, Reconstruct Loss: -9.6154,KLD Loss:  11.7798
Epoch 36, Reconstruct Loss: -12.4317,KLD Loss:  12.8113
Epoch 37, Reconstruct Loss: -11.0307,KLD Loss:  11.2708
Epoch 38, Reconstruct Loss: -11.5483,KLD Loss:  11.1970
Epoch 39, Reconstruct Loss: -7.6981,KLD Loss:  11.3370
Epoch 40, Reconstruct Loss: -13.3897,KLD Loss:  11.9145
Epoch 41, Reconstruct Loss: -6.8218,KLD Loss:  11.4888
Epoch 42, Reconstruct Loss: -14.3950,KLD Loss:  11.2618
Epoch 43, Reconstruct Loss: -8.1120,KLD Loss:  11.6116
Epoch 44, Reconstruct Loss: -6.2167,KLD Loss:  12.4962
Epoch 45, Reconstruct Loss: -10.7756,KLD Loss:  13.7702
Epoch 46, Reconstruct Loss: -13.0305,KLD Loss:  12.5281
Epoch 47, Reconstruct Loss: -13.3789,KLD Loss:  10.9482
Epoch 48, Reconstruct Loss: -12.7656,KLD Loss:  13.1818
Epoch 49, Reconstruct Loss: -11.6078,KLD Loss:  13.1674
Epoch 50, Reconstruct Loss: -14.6667,KLD Loss:  12.6646
Epoch 51, Reconstruct Loss: -13.3535,KLD Loss:  13.8106
Epoch 52, Reconstruct Loss: -8.8335,KLD Loss:  13.9289
Epoch 53, Reconstruct Loss: -11.5107,KLD Loss:  13.4323
Epoch 54, Reconstruct Loss: -14.2518,KLD Loss:  12.7221
Epoch 55, Reconstruct Loss: -8.8176,KLD Loss:  13.5855
Epoch 56, Reconstruct Loss: -14.4609,KLD Loss:  12.8418
Epoch 57, Reconstruct Loss: -10.9270,KLD Loss:  13.9950
Epoch 58, Reconstruct Loss: -14.3810,KLD Loss:  13.4400
Epoch 59, Reconstruct Loss: -11.3796,KLD Loss:  13.7205
Epoch 60, Reconstruct Loss: -15.6827,KLD Loss:  13.9444
Epoch 61, Reconstruct Loss: -11.1329,KLD Loss:  13.3201
Epoch 62, Reconstruct Loss: -16.8934,KLD Loss:  13.1959
Epoch 63, Reconstruct Loss: -7.7964,KLD Loss:  19.4052
Epoch 64, Reconstruct Loss: -13.5978,KLD Loss:  12.8266
Epoch 65, Reconstruct Loss: -16.6459,KLD Loss:  14.9992
Epoch 66, Reconstruct Loss: -16.4740,KLD Loss:  15.2908
Epoch 67, Reconstruct Loss: -2.3207,KLD Loss:  15.4967
Epoch 68, Reconstruct Loss: -17.0236,KLD Loss:  13.3794
Epoch 69, Reconstruct Loss: -13.7095,KLD Loss:  12.8562
Epoch 70, Reconstruct Loss: -13.9886,KLD Loss:  14.4866
Epoch 71, Reconstruct Loss: -20.4010,KLD Loss:  15.3632
Epoch 72, Reconstruct Loss: -18.2678,KLD Loss:  13.9145
Epoch 73, Reconstruct Loss: -15.4016,KLD Loss:  12.8684
Epoch 74, Reconstruct Loss: -14.8841,KLD Loss:  13.0366
Epoch 75, Reconstruct Loss: -15.8761,KLD Loss:  13.3605
Epoch 76, Reconstruct Loss: -17.8130,KLD Loss:  13.7880
Epoch 77, Reconstruct Loss: -17.4511,KLD Loss:  14.5846
Epoch 78, Reconstruct Loss: -20.3542,KLD Loss:  14.2012
Epoch 79, Reconstruct Loss: -18.7925,KLD Loss:  13.8702
Epoch 80, Reconstruct Loss: -19.6979,KLD Loss:  14.1531
Epoch 81, Reconstruct Loss: -21.7005,KLD Loss:  14.6446
Epoch 82, Reconstruct Loss: -18.3584,KLD Loss:  14.0729
Epoch 83, Reconstruct Loss: -18.3540,KLD Loss:  14.2925
Epoch 84, Reconstruct Loss: -20.0194,KLD Loss:  15.3540
Epoch 85, Reconstruct Loss: -19.9424,KLD Loss:  14.7579
Epoch 86, Reconstruct Loss: -18.9192,KLD Loss:  13.9304
Epoch 87, Reconstruct Loss: -20.3125,KLD Loss:  15.1936
Epoch 88, Reconstruct Loss:  2.6781,KLD Loss:  15.3048
Epoch 89, Reconstruct Loss: -15.1102,KLD Loss:  14.6324
Epoch 90, Reconstruct Loss: -16.5734,KLD Loss:  13.8605
Epoch 91, Reconstruct Loss: -18.6632,KLD Loss:  14.2367
Epoch 92, Reconstruct Loss: -18.4444,KLD Loss:  14.9635
Epoch 93, Reconstruct Loss: -20.4903,KLD Loss:  15.2445
Epoch 94, Reconstruct Loss: -20.6782,KLD Loss:  14.5226
Epoch 95, Reconstruct Loss: -13.4081,KLD Loss:  15.0106
Epoch 96, Reconstruct Loss: -17.0482,KLD Loss:  13.4684
Epoch 97, Reconstruct Loss: -18.6082,KLD Loss:  14.8926
Epoch 98, Reconstruct Loss: -17.1091,KLD Loss:  15.5268
Epoch 99, Reconstruct Loss: -19.0886,KLD Loss:  13.9047
Epoch 100, Reconstruct Loss: -21.2696,KLD Loss:  13.8151
Epoch 101, Reconstruct Loss: -21.8171,KLD Loss:  14.9618
Epoch 102, Reconstruct Loss: -21.4941,KLD Loss:  13.4054
Epoch 103, Reconstruct Loss: -18.1827,KLD Loss:  14.4350
Epoch 104, Reconstruct Loss: -20.6089,KLD Loss:  14.8716
Epoch 105, Reconstruct Loss: -22.3740,KLD Loss:  14.6635
Epoch 106, Reconstruct Loss: -21.6628,KLD Loss:  15.3216
Epoch 107, Reconstruct Loss: -21.6178,KLD Loss:  14.5100
Epoch 108, Reconstruct Loss: -22.6681,KLD Loss:  15.5526
Epoch 109, Reconstruct Loss: -19.9810,KLD Loss:  14.3943
Epoch 110, Reconstruct Loss: -21.4354,KLD Loss:  14.7622
Epoch 111, Reconstruct Loss: -15.8089,KLD Loss:  15.3398
Epoch 112, Reconstruct Loss: -19.0863,KLD Loss:  14.6349
Epoch 113, Reconstruct Loss: -11.5906,KLD Loss:  15.2793
Epoch 114, Reconstruct Loss: -19.2561,KLD Loss:  16.0511
Epoch 115, Reconstruct Loss: -9.8122,KLD Loss:  16.8701
Epoch 116, Reconstruct Loss: -22.0621,KLD Loss:  14.8008
Epoch 117, Reconstruct Loss: -22.4498,KLD Loss:  15.3001
Epoch 118, Reconstruct Loss: -21.9663,KLD Loss:  15.1607
Epoch 119, Reconstruct Loss: -21.5307,KLD Loss:  14.8730
Epoch 120, Reconstruct Loss: -20.7849,KLD Loss:  15.2373
Epoch 121, Reconstruct Loss: -20.5528,KLD Loss:  15.4105
Epoch 122, Reconstruct Loss: -17.3564,KLD Loss:  15.2012
Epoch 123, Reconstruct Loss: -23.4600,KLD Loss:  16.2924
Epoch 124, Reconstruct Loss: -17.5503,KLD Loss:  14.7323
Epoch 125, Reconstruct Loss: -23.0861,KLD Loss:  15.6415
Epoch 126, Reconstruct Loss: -17.3184,KLD Loss:  15.2043
Epoch 127, Reconstruct Loss: -18.3511,KLD Loss:  16.1434
Epoch 128, Reconstruct Loss: -23.0091,KLD Loss:  15.1881
Epoch 129, Reconstruct Loss: -21.0152,KLD Loss:  14.0892
Epoch 130, Reconstruct Loss: -21.9942,KLD Loss:  15.1697
Epoch 131, Reconstruct Loss: -20.5524,KLD Loss:  15.1424
Epoch 132, Reconstruct Loss: -19.7262,KLD Loss:  14.9299
Epoch 133, Reconstruct Loss: -17.2818,KLD Loss:  15.6386
Epoch 134, Reconstruct Loss: -21.7513,KLD Loss:  14.7796
Epoch 135, Reconstruct Loss: -24.0790,KLD Loss:  15.9053
Epoch 136, Reconstruct Loss: -22.0042,KLD Loss:  14.3655
Epoch 137, Reconstruct Loss: -20.6929,KLD Loss:  14.3645
Epoch 138, Reconstruct Loss: -20.8131,KLD Loss:  17.0734
Epoch 139, Reconstruct Loss: -22.9363,KLD Loss:  15.5151
Epoch 140, Reconstruct Loss: -22.2662,KLD Loss:  16.2316
Epoch 141, Reconstruct Loss: -23.9255,KLD Loss:  17.3075
Epoch 142, Reconstruct Loss: -17.5900,KLD Loss:  16.9946
Epoch 143, Reconstruct Loss: -24.5912,KLD Loss:  16.6204
Epoch 144, Reconstruct Loss: -19.5313,KLD Loss:  14.9477
Epoch 145, Reconstruct Loss: -25.8521,KLD Loss:  15.4226
Epoch 146, Reconstruct Loss: -21.2058,KLD Loss:  14.7076
Epoch 147, Reconstruct Loss: -19.6057,KLD Loss:  16.1609
Epoch 148, Reconstruct Loss: -20.9590,KLD Loss:  16.3672
Epoch 149, Reconstruct Loss: -18.5513,KLD Loss:  14.3951
Epoch 150, Reconstruct Loss: -20.8895,KLD Loss:  13.8122
Epoch 151, Reconstruct Loss: -22.8616,KLD Loss:  14.5268
Epoch 152, Reconstruct Loss: -23.1430,KLD Loss:  15.1247
Epoch 153, Reconstruct Loss: -22.2146,KLD Loss:  18.0644
Epoch 154, Reconstruct Loss: -22.3601,KLD Loss:  14.6310
Epoch 155, Reconstruct Loss: -23.5079,KLD Loss:  16.8003
Epoch 156, Reconstruct Loss: -12.5917,KLD Loss:  15.4622
Epoch 157, Reconstruct Loss: -21.9630,KLD Loss:  15.7129
Epoch 158, Reconstruct Loss: -22.8055,KLD Loss:  16.1790
Epoch 159, Reconstruct Loss: -21.5482,KLD Loss:  15.3325
Epoch 160, Reconstruct Loss: -11.7194,KLD Loss:  15.3751
Epoch 161, Reconstruct Loss: -22.5114,KLD Loss:  14.5594
Epoch 162, Reconstruct Loss: -23.6071,KLD Loss:  14.4740
Epoch 163, Reconstruct Loss: -24.2265,KLD Loss:  14.8912
Epoch 164, Reconstruct Loss: -21.3864,KLD Loss:  15.3798
Epoch 165, Reconstruct Loss: -22.3232,KLD Loss:  14.9986
Epoch 166, Reconstruct Loss: -21.1072,KLD Loss:  15.3269
Epoch 167, Reconstruct Loss: -21.0487,KLD Loss:  15.7721
Epoch 168, Reconstruct Loss: -22.0742,KLD Loss:  15.5367
Epoch 169, Reconstruct Loss: -23.1359,KLD Loss:  16.2532
Epoch 170, Reconstruct Loss: -24.7353,KLD Loss:  14.0126
Epoch 171, Reconstruct Loss: -24.4600,KLD Loss:  15.0224
Epoch 172, Reconstruct Loss: -21.7215,KLD Loss:  16.0108
Epoch 173, Reconstruct Loss: -25.3993,KLD Loss:  16.0623
Epoch 174, Reconstruct Loss: -24.6639,KLD Loss:  15.4216
Epoch 175, Reconstruct Loss: -23.4024,KLD Loss:  16.0397
Epoch 176, Reconstruct Loss: -26.3105,KLD Loss:  17.0232
Epoch 177, Reconstruct Loss: -26.3353,KLD Loss:  16.8462
Epoch 178, Reconstruct Loss: -27.9772,KLD Loss:  15.1531
Epoch 179, Reconstruct Loss: -27.2503,KLD Loss:  15.4900
Epoch 180, Reconstruct Loss: -25.5150,KLD Loss:  15.2772
Epoch 181, Reconstruct Loss: -24.4445,KLD Loss:  18.1487
Epoch 182, Reconstruct Loss: -28.6082,KLD Loss:  16.2350
Epoch 183, Reconstruct Loss: -27.6707,KLD Loss:  16.4886
Epoch 184, Reconstruct Loss: -24.5471,KLD Loss:  15.5145
Epoch 185, Reconstruct Loss: -26.4424,KLD Loss:  15.6456
Epoch 186, Reconstruct Loss: -27.3038,KLD Loss:  16.3202
Epoch 187, Reconstruct Loss: -24.8206,KLD Loss:  14.7104
Epoch 188, Reconstruct Loss: -25.8055,KLD Loss:  16.0786
Epoch 189, Reconstruct Loss: -25.5823,KLD Loss:  16.3338
Epoch 190, Reconstruct Loss: -27.0599,KLD Loss:  15.3219
Epoch 191, Reconstruct Loss: -24.7101,KLD Loss:  18.6963
Epoch 192, Reconstruct Loss: -28.5195,KLD Loss:  17.0309
Epoch 193, Reconstruct Loss: -28.8056,KLD Loss:  15.8395
Epoch 194, Reconstruct Loss: -19.6418,KLD Loss:  16.6730
Epoch 195, Reconstruct Loss: -26.4112,KLD Loss:  15.7189
Epoch 196, Reconstruct Loss: -24.0910,KLD Loss:  15.3609
Epoch 197, Reconstruct Loss: -25.8329,KLD Loss:  14.2409
Epoch 198, Reconstruct Loss: -24.5529,KLD Loss:  16.6082
Epoch 199, Reconstruct Loss: -25.7564,KLD Loss:  15.4347
Epoch 200, Reconstruct Loss: -23.7787,KLD Loss:  14.6962
Epoch 201, Reconstruct Loss: -25.9651,KLD Loss:  14.5329
Epoch 202, Reconstruct Loss: -26.1785,KLD Loss:  17.2553
Epoch 203, Reconstruct Loss: -26.5711,KLD Loss:  16.7772
Epoch 204, Reconstruct Loss: -26.7571,KLD Loss:  16.3270
Epoch 205, Reconstruct Loss: -26.9593,KLD Loss:  17.4857
Epoch 206, Reconstruct Loss: -25.9975,KLD Loss:  16.9498
Epoch 207, Reconstruct Loss: -28.6507,KLD Loss:  15.7565
Epoch 208, Reconstruct Loss: -27.3485,KLD Loss:  16.8638
Epoch 209, Reconstruct Loss: -27.6441,KLD Loss:  17.0103
Epoch 210, Reconstruct Loss: -24.7879,KLD Loss:  16.3390
Epoch 211, Reconstruct Loss: -30.0761,KLD Loss:  17.4820
Epoch 212, Reconstruct Loss: -27.3354,KLD Loss:  16.4227
Epoch 213, Reconstruct Loss: -26.7206,KLD Loss:  17.1857
Epoch 214, Reconstruct Loss: -27.2190,KLD Loss:  16.1549
Epoch 215, Reconstruct Loss: -29.0794,KLD Loss:  17.4330
Epoch 216, Reconstruct Loss: -28.2828,KLD Loss:  16.9706
Epoch 217, Reconstruct Loss: -28.4136,KLD Loss:  16.4118
Epoch 218, Reconstruct Loss: -28.5583,KLD Loss:  17.0593
Epoch 219, Reconstruct Loss: -26.4458,KLD Loss:  14.5712
Epoch 220, Reconstruct Loss: -28.3608,KLD Loss:  15.0999
Epoch 221, Reconstruct Loss: -18.0474,KLD Loss:  17.6421
Epoch 222, Reconstruct Loss: -27.3927,KLD Loss:  15.4306
Epoch 223, Reconstruct Loss: -28.0894,KLD Loss:  15.3489
Epoch 224, Reconstruct Loss: -27.7132,KLD Loss:  17.1132
Epoch 225, Reconstruct Loss: -25.7665,KLD Loss:  17.0145
Epoch 226, Reconstruct Loss: -27.3406,KLD Loss:  16.2534
Epoch 227, Reconstruct Loss: -28.7041,KLD Loss:  16.0096
Epoch 228, Reconstruct Loss: -28.9514,KLD Loss:  15.9004
Epoch 229, Reconstruct Loss: -25.0284,KLD Loss:  17.4232
Epoch 230, Reconstruct Loss: -26.0307,KLD Loss:  16.1960
Epoch 231, Reconstruct Loss: -25.5156,KLD Loss:  17.3595
Epoch 232, Reconstruct Loss: -25.6041,KLD Loss:  16.0125
Epoch 233, Reconstruct Loss: -25.5735,KLD Loss:  16.0303
Epoch 234, Reconstruct Loss: -25.4097,KLD Loss:  15.7789
Epoch 235, Reconstruct Loss: -27.6185,KLD Loss:  16.0194
Epoch 236, Reconstruct Loss: -27.6697,KLD Loss:  15.9135
Epoch 237, Reconstruct Loss: -29.6368,KLD Loss:  15.9613
Epoch 238, Reconstruct Loss: -28.0287,KLD Loss:  15.4158
Epoch 239, Reconstruct Loss: -14.8151,KLD Loss:  16.3524
Epoch 240, Reconstruct Loss: -24.0710,KLD Loss:  17.3003
Epoch 241, Reconstruct Loss: -29.5278,KLD Loss:  16.5082
Epoch 242, Reconstruct Loss: -30.2913,KLD Loss:  16.6837
Epoch 243, Reconstruct Loss: -27.9426,KLD Loss:  17.9492
Epoch 244, Reconstruct Loss: -31.6053,KLD Loss:  16.5415
Epoch 245, Reconstruct Loss: -26.1125,KLD Loss:  17.1984
Epoch 246, Reconstruct Loss: -27.6143,KLD Loss:  16.4662
Epoch 247, Reconstruct Loss: -27.1258,KLD Loss:  17.7638
Epoch 248, Reconstruct Loss: -27.3965,KLD Loss:  16.4378
Epoch 249, Reconstruct Loss: -26.8596,KLD Loss:  18.5740
Epoch 250, Reconstruct Loss: -30.4936,KLD Loss:  16.0225
Epoch 251, Reconstruct Loss: -31.0663,KLD Loss:  16.4821
Epoch 252, Reconstruct Loss: -27.5574,KLD Loss:  16.6212
Epoch 253, Reconstruct Loss: -27.3749,KLD Loss:  16.6598
Epoch 254, Reconstruct Loss: -30.2182,KLD Loss:  16.9724
Epoch 255, Reconstruct Loss: -31.3129,KLD Loss:  16.3929
Epoch 256, Reconstruct Loss: -31.5407,KLD Loss:  16.4894
Epoch 257, Reconstruct Loss: -28.7204,KLD Loss:  15.6735
Epoch 258, Reconstruct Loss: -29.6782,KLD Loss:  16.8565
Epoch 259, Reconstruct Loss: -28.5902,KLD Loss:  17.2782
Epoch 260, Reconstruct Loss: -28.4545,KLD Loss:  17.0981
Epoch 261, Reconstruct Loss: -27.8397,KLD Loss:  18.3249
Epoch 262, Reconstruct Loss: -27.7171,KLD Loss:  17.3822
Epoch 263, Reconstruct Loss: -28.7463,KLD Loss:  16.5303
Epoch 264, Reconstruct Loss: -29.2322,KLD Loss:  16.0791
Epoch 265, Reconstruct Loss: -30.9553,KLD Loss:  16.9460
Epoch 266, Reconstruct Loss: -28.7672,KLD Loss:  16.5356
Epoch 267, Reconstruct Loss: -29.8925,KLD Loss:  17.4344
Epoch 268, Reconstruct Loss: -28.2326,KLD Loss:  17.0011
Epoch 269, Reconstruct Loss: -29.5776,KLD Loss:  16.5576
Epoch 270, Reconstruct Loss: -28.1689,KLD Loss:  19.1940
Epoch 271, Reconstruct Loss: -29.0930,KLD Loss:  15.1372
Epoch 272, Reconstruct Loss: -29.4332,KLD Loss:  17.3914
Epoch 273, Reconstruct Loss: -31.7743,KLD Loss:  16.8267
Epoch 274, Reconstruct Loss: -29.9765,KLD Loss:  16.9012
Epoch 275, Reconstruct Loss: -29.8015,KLD Loss:  16.8283
Epoch 276, Reconstruct Loss: -29.9128,KLD Loss:  17.0955
Epoch 277, Reconstruct Loss: -27.7593,KLD Loss:  16.8444
Epoch 278, Reconstruct Loss: -29.6589,KLD Loss:  16.4780
Epoch 279, Reconstruct Loss: -28.1191,KLD Loss:  15.4867
Epoch 280, Reconstruct Loss: -31.3204,KLD Loss:  16.3821
Epoch 281, Reconstruct Loss: -27.8078,KLD Loss:  18.0098
Epoch 282, Reconstruct Loss: -31.0525,KLD Loss:  18.8337
Epoch 283, Reconstruct Loss: -29.3224,KLD Loss:  15.4127
Epoch 284, Reconstruct Loss: -27.5206,KLD Loss:  18.3898
Epoch 285, Reconstruct Loss: -30.8420,KLD Loss:  17.7001
Epoch 286, Reconstruct Loss: -30.3457,KLD Loss:  17.1215
Epoch 287, Reconstruct Loss: -29.7842,KLD Loss:  16.6720
Epoch 288, Reconstruct Loss: -31.6628,KLD Loss:  18.2549
Epoch 289, Reconstruct Loss: -31.0827,KLD Loss:  17.8364
Epoch 290, Reconstruct Loss: -29.5438,KLD Loss:  16.9167
Epoch 291, Reconstruct Loss: -29.5241,KLD Loss:  16.3255
Epoch 292, Reconstruct Loss: -30.4309,KLD Loss:  16.6183
Epoch 293, Reconstruct Loss: -31.3897,KLD Loss:  16.9009
Epoch 294, Reconstruct Loss: -30.2760,KLD Loss:  19.0899
Epoch 295, Reconstruct Loss: -29.2229,KLD Loss:  17.6386
Epoch 296, Reconstruct Loss: -32.8174,KLD Loss:  17.3384
Epoch 297, Reconstruct Loss: -30.3812,KLD Loss:  17.9125
Epoch 298, Reconstruct Loss: -31.9901,KLD Loss:  17.2308
Epoch 299, Reconstruct Loss: -30.2892,KLD Loss:  16.7414
Epoch 300, Reconstruct Loss: -31.5039,KLD Loss:  17.2946
Fine Tuning Generation Task
mode collapse correction
[' Amer-Indian-Eskimo']
[' Canada', ' Columbia', ' England', ' France', ' Germany', ' Greece', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong', ' Hungary', ' Iran', ' Ireland', ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Poland', ' Portugal', ' Scotland', ' Thailand', ' Trinadad&Tobago', ' Yugoslavia']
rare from train :  1172
Epoch 1, Reconstruct Loss: -8.5458,KLD Loss:  18.1157
Epoch 2, Reconstruct Loss:  19.2208,KLD Loss:  18.4289
Epoch 3, Reconstruct Loss: -12.8905,KLD Loss:  18.6012
Epoch 4, Reconstruct Loss: -3.9842,KLD Loss:  18.1933
Epoch 5, Reconstruct Loss: -15.7912,KLD Loss:  17.6483
Epoch 6, Reconstruct Loss: -17.0054,KLD Loss:  17.2836
Epoch 7, Reconstruct Loss: -14.0909,KLD Loss:  17.3646
Epoch 8, Reconstruct Loss: -17.8028,KLD Loss:  17.1924
Epoch 9, Reconstruct Loss: -19.1283,KLD Loss:  16.3580
Epoch 10, Reconstruct Loss: -18.6177,KLD Loss:  16.4590
Epoch 11, Reconstruct Loss: -18.5165,KLD Loss:  16.4000
Epoch 12, Reconstruct Loss: -21.1921,KLD Loss:  16.4675
Epoch 13, Reconstruct Loss: -20.2443,KLD Loss:  16.5902
Epoch 14, Reconstruct Loss: -21.0000,KLD Loss:  16.5288
Epoch 15, Reconstruct Loss: -21.4585,KLD Loss:  16.8499
Epoch 16, Reconstruct Loss: -21.7284,KLD Loss:  16.8338
Epoch 17, Reconstruct Loss: -23.0491,KLD Loss:  16.7601
Epoch 18, Reconstruct Loss: -23.7765,KLD Loss:  17.2598
Epoch 19, Reconstruct Loss: -24.3272,KLD Loss:  16.7156
Epoch 20, Reconstruct Loss: -23.8480,KLD Loss:  17.2474
Epoch 21, Reconstruct Loss: -23.7094,KLD Loss:  16.8033
Epoch 22, Reconstruct Loss: -24.5095,KLD Loss:  17.1872
Epoch 23, Reconstruct Loss: -25.0082,KLD Loss:  17.4359
Epoch 24, Reconstruct Loss: -24.5726,KLD Loss:  16.9537
Epoch 25, Reconstruct Loss: -25.7599,KLD Loss:  16.9551
Epoch 26, Reconstruct Loss: -26.3185,KLD Loss:  17.2903
Epoch 27, Reconstruct Loss: -25.9179,KLD Loss:  17.5714
Epoch 28, Reconstruct Loss: -25.9238,KLD Loss:  17.5135
Epoch 29, Reconstruct Loss: -27.0783,KLD Loss:  17.4658
Epoch 30, Reconstruct Loss: -26.8295,KLD Loss:  17.9775
Epoch 31, Reconstruct Loss: -26.9048,KLD Loss:  17.7890
Epoch 32, Reconstruct Loss: -26.8620,KLD Loss:  18.1077
Epoch 33, Reconstruct Loss: -26.8910,KLD Loss:  18.3006
Epoch 34, Reconstruct Loss: -25.8460,KLD Loss:  18.0989
Epoch 35, Reconstruct Loss: -25.8848,KLD Loss:  18.0962
Epoch 36, Reconstruct Loss: -27.2123,KLD Loss:  18.0286
Epoch 37, Reconstruct Loss: -25.6995,KLD Loss:  17.9210
Epoch 38, Reconstruct Loss: -27.9066,KLD Loss:  18.2497
Epoch 39, Reconstruct Loss: -27.6468,KLD Loss:  18.1536
Epoch 40, Reconstruct Loss: -27.6866,KLD Loss:  17.7134
Epoch 41, Reconstruct Loss: -27.3856,KLD Loss:  18.1829
Epoch 42, Reconstruct Loss: -27.6135,KLD Loss:  18.3011
Epoch 43, Reconstruct Loss: -27.6388,KLD Loss:  18.0437
Epoch 44, Reconstruct Loss: -27.3602,KLD Loss:  17.9074
Epoch 45, Reconstruct Loss: -27.7765,KLD Loss:  17.7705
Epoch 46, Reconstruct Loss: -26.1888,KLD Loss:  18.2531
Epoch 47, Reconstruct Loss: -26.9109,KLD Loss:  18.4251

In [5]:
pipeline_builder.results

{'generation_results': {'synthetic_data':        age workclass  fnlwgt      education  education-num  \
  0       20   Private   44905        HS-grad              9
  1       32   Private  109852        HS-grad              9
  2       38   Private  124729        HS-grad              9
  3       23   Private   52677      Bachelors             13
  4       41   Private  138111        HS-grad              9
  ...    ...       ...     ...            ...            ...
  32556   32   Private   27882           10th             10
  32557   32   Private   27882   Some-college             10
  32558   32   Private   27882   Some-college             10
  32559   32   Private   27882   Some-college             10
  32560   32   Private   27882   Some-college             10

              marital-status          occupation     relationship    race  \
  0            Never-married               Sales        Own-child   White
  1       Married-civ-spouse   Handlers-cleaners          Husband   Black
  2       Married-civ-spouse     Exec-managerial          Husband   White
  3            Never-married      Prof-specialty    Not-in-family   White
  4       Married-civ-spouse      Prof-specialty          Husband   White
  ...                    ...                 ...              ...     ...
  32556        Never-married   Machine-op-inspct   Other-relative   White
  32557        Never-married               Sales   Other-relative   White
  32558        Never-married   Machine-op-inspct   Other-relative   White
  32559        Never-married       Other-service   Other-relative   White
  32560   Married-civ-spouse   Machine-op-inspct   Other-relative   White

             sex  capital-gain  capital-loss  hours-per-week  \
  0       Female             0             0              22
  1         Male             1             0              40
  2         Male             0             0              48
  3       Female             0             0              40
  4         Male             4             0              50
  ...        ...           ...           ...             ...
  32556   Female             0          2205              40
  32557   Female             0          2205              40
  32558   Female             0          2205              40
  32559   Female             0          2205              40
  32560   Female             0          2205              40

              native-country  income
  0            United-States   <=50K
  1            United-States   <=50K
  2            United-States   <=50K
  3            United-States   <=50K
  4            United-States   <=50K
  ...                    ...     ...
  32556   Holand-Netherlands   <=50K
  32557   Holand-Netherlands   <=50K
  32558   Holand-Netherlands   <=50K
  32559   Holand-Netherlands   <=50K
  32560   Holand-Netherlands   <=50K

  [32561 rows x 15 columns],
  'generator_model': <data_synthesizer.sdv.tvae.tvae_synthesizer_modified.SDVTVAE_ at 0x7fe5196491c0>},
 'resemblance_evaluation_results': {'categorical_univariate': {'chi_test':                 chisquared_tests_p
   workclass                 0.663443
   education                 0.874721
   marital-status            0.806358
   occupation                0.432468
   relationship              0.492932
   race                      0.968939
   sex                       0.911645
   native-country            0.573853
   income                    0.940006,
   'jensen_shanon':                 KL_divergence_tests  JS_divergence
   workclass                  0.007966       0.052401
   education                  0.037411       0.110197
   marital-status             0.014824       0.067782
   occupation                 0.021422       0.086315
   relationship               0.027059       0.096898
   race                       0.035106       0.083255
   sex                        0.001707       0.024891
   native-country             0.095857       0.141772
   income                     0.000137       0.007020,
   'jensen_shanon_data_mean': KL_divergence_tests    0.026832
   JS_divergence          0.074503
   dtype: float64,
   'mode_collapse_dict': {}},
  'numerical_univariate': {'univariate_num_s':                 mann_whitney      wilcoxon     student_t  welchs_Ttest  \
   age             1.924351e-02  8.475609e-04  1.211809e-05  1.211818e-05
   fnlwgt          0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
   education-num   8.131592e-07  1.275480e-09  3.688187e-10  3.688189e-10
   capital-gain    0.000000e+00  0.000000e+00  6.076439e-57  7.328389e-57
   capital-loss    9.693900e-07  3.830946e-27  1.586940e-29  1.592546e-29
   hours-per-week  1.467847e-04  4.653097e-13  1.310696e-21  1.313909e-21

                      ks_test_p
   age             1.258055e-25
   fnlwgt          0.000000e+00
   education-num   2.722511e-26
   capital-gain    0.000000e+00
   capital-loss    1.648884e-04
   hours-per-week  2.582010e-83  ,
   'univariate_num_js':                 KL_divergence_tests  JS_divergence  cohen_s_d
   age                        0.374782       0.104917   0.034294
   fnlwgt                     0.000706       0.442329   0.891870
   education-num              1.351798       0.085247   0.049121
   capital-gain               0.011366       0.560898   0.124755
   capital-loss               0.019618       0.174464   0.088474
   hours-per-week             2.011323       0.212032   0.074864,
   'univariate_num_js_data_mean': KL_divergence_tests    0.628266
   JS_divergence          0.263314
   cohen_s_d              0.210563
   dtype: float64},
  'categorical_multivariate': {'cramer_real':                 workclass  education  marital-status  occupation  \
   workclass        1.000000   0.099369        0.085061    0.399993
   education        0.099369   1.000000        0.091569    0.187334
   marital-status   0.085061   0.091569        1.000000    0.133213
   occupation       0.399993   0.187334        0.133213    1.000000
   relationship     0.098712   0.122654        0.487963    0.178626
   race             0.056280   0.074900        0.084219    0.080826
   sex              0.153670   0.095621        0.461827    0.424364
   native-country   0.045810   0.132637        0.073070    0.073121
   income           0.179208   0.368838        0.447404    0.351892

                   relationship      race       sex  native-country    income
   workclass           0.098712  0.056280  0.153670        0.045810  0.179208
   education           0.122654  0.074900  0.095621        0.132637  0.368838
   marital-status      0.487963  0.084219  0.461827        0.073070  0.447404
   occupation          0.178626  0.080826  0.424364        0.073121  0.351892
   relationship        1.000000  0.098099  0.649000        0.085310  0.453585
   race                0.098099  1.000000  0.118115        0.409258  0.100812
   sex                 0.649000  0.118115  1.000000        0.067148  0.215980
   native-country      0.085310  0.409258  0.067148        1.000000  0.098705
   income              0.453585  0.100812  0.215980        0.098705  1.000000  ,
   'cramer_synth':                 workclass  education  marital-status  occupation  \
   workclass        1.000000   0.093561        0.072000    0.350258
   education        0.093561   1.000000        0.050315    0.166986
   marital-status   0.072000   0.050315        1.000000    0.120985
   occupation       0.350258   0.166986        0.120985    1.000000
   relationship     0.091557   0.077091        0.487057    0.183109
   race             0.054393   0.086249        0.120559    0.107550
   sex              0.145651   0.047797        0.344349    0.457272
   native-country   0.066475   0.116545        0.100417    0.077010
   income           0.186748   0.225541        0.484353    0.324519

                   relationship      race       sex  native-country    income
   workclass           0.091557  0.054393  0.145651        0.066475  0.186748
   education           0.077091  0.086249  0.047797        0.116545  0.225541
   marital-status      0.487057  0.120559  0.344349        0.100417  0.484353
   occupation          0.183109  0.107550  0.457272        0.077010  0.324519
   relationship        1.000000  0.140095  0.652297        0.148768  0.497253
   race                0.140095  1.000000  0.176388        0.382465  0.073804
   sex                 0.652297  0.176388  1.000000        0.075640  0.176121
   native-country      0.148768  0.382465  0.075640        1.000000  0.070524
   income              0.497253  0.073804  0.176121        0.070524  1.000000  ,
   'diff_norm_cramer': 0.039899999999999824},
  'numerical_multivariate': {'pearson_real':                      age    fnlwgt  education-num  capital-gain  capital-loss  \
   age             1.000000  0.076646       0.036527      0.077674      0.057775
   fnlwgt          0.076646  1.000000       0.043195      0.000432      0.010252
   education-num   0.036527  0.043195       1.000000      0.122630      0.079923
   capital-gain    0.077674  0.000432       0.122630      1.000000      0.031615
   capital-loss    0.057775  0.010252       0.079923      0.031615      1.000000
   hours-per-week  0.068756  0.018768       0.148123      0.078409      0.054256

                   hours-per-week
   age                   0.068756
   fnlwgt                0.018768
   education-num         0.148123
   capital-gain          0.078409
   capital-loss          0.054256
   hours-per-week        1.000000  ,
   'pearson_synth':                      age    fnlwgt  education-num  capital-gain  capital-loss  \
   age             1.000000  0.144761       0.012873      0.075985      0.072715
   fnlwgt          0.144761  1.000000       0.007829      0.010505      0.089183
   education-num   0.012873  0.007829       1.000000      0.071749      0.011874
   capital-gain    0.075985  0.010505       0.071749      1.000000      0.027517
   capital-loss    0.072715  0.089183       0.011874      0.027517      1.000000
   hours-per-week  0.120359  0.036335       0.082608      0.065418      0.035307

                   hours-per-week
   age                   0.120359
   fnlwgt                0.036335
   education-num         0.082608
   capital-gain          0.065418
   capital-loss          0.035307
   hours-per-week        1.000000  ,
   'pearson_norm_diff': 0.001100000000000101},
  'categorical_numerical_multivariate': {'corr_ratio_real': {'corr':                 workclass  education  marital-status  occupation  \
    age              0.218365   0.229077        0.573546    0.186472
    fnlwgt           0.052620   0.067111        0.054406    0.055344
    education-num    0.197346   1.000000        0.115492    0.556586
    capital-gain     0.104268   0.197873        0.087206    0.119566
    capital-loss     0.046975   0.099203        0.081717    0.085112
    hours-per-week   0.228189   0.194284        0.250627    0.311444

                    relationship      race       sex  native-country    income
    age                 0.474219  0.043588  0.088832        0.088367  0.234037
    fnlwgt              0.037277  0.140456  0.026858        0.158627  0.009463
    education-num       0.160911  0.109650  0.012280        0.276936  0.335154
    capital-gain        0.090418  0.023410  0.048480        0.035641  0.223329
    capital-loss        0.087701  0.026708  0.045567        0.053354  0.150526
    hours-per-week      0.310074  0.054680  0.229309        0.048591  0.229689  ,
    'ax': <Axes: >},
   'corr_ratio_synth': {'corr':                 workclass  education  marital-status  occupation  \
    age              0.231483   0.160350        0.582745    0.212655
    fnlwgt           0.141478   0.123046        0.095628    0.203283
    education-num    0.161372   0.910828        0.062030    0.503459
    capital-gain     0.045962   0.079873        0.112441    0.114369
    capital-loss     0.030259   0.028562        0.059279    0.059744
    hours-per-week   0.163640   0.117779        0.256207    0.316663

                    relationship      race       sex  native-country    income
    age                 0.505063  0.091423  0.089703        0.070651  0.286394
    fnlwgt              0.153811  0.115747  0.020055        0.167372  0.027947
    education-num       0.104956  0.113127  0.035042        0.186428  0.197673
    capital-gain        0.113418  0.023649  0.008948        0.044806  0.228323
    capital-loss        0.062071  0.045049  0.026864        0.124289  0.077269
    hours-per-week      0.338173  0.044389  0.285820        0.051715  0.215548  ,
    'ax': <Axes: >},
   'diff_norm_corr_ratio': 0.08319999999999994}}}

In [15]:
df_real_adult_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [12]:
for i, child in enumerate(model._model.encoder.seq.children()):
    if i < 2:
        for param in child.parameters():
            print(param.requires_grad)

True
True

In [5]:
synth

{'generation_results': {'synthetic_data':        age     workclass  fnlwgt      education  education-num  \
  0       44       Private  395942        HS-grad              7
  1       56     State-gov  207793   Some-college             12
  2       40       Private   96988        HS-grad             11
  3       43   Federal-gov   52352   Some-college              5
  4       39       Private   45930   Some-college             14
  ...    ...           ...     ...            ...            ...
  32556   58       Private   26258   Some-college             13
  32557   27   Federal-gov  172852   Some-college             14
  32558   31       Private  634264        HS-grad             10
  32559   72       Private   76253   Some-college              9
  32560   42       Private   57576            9th             12

              marital-status          occupation    relationship  \
  0            Never-married        Craft-repair         Husband
  1            Never-married               Sales         Husband
  2            Never-married        Adm-clerical       Own-child
  3                 Divorced                   ?         Husband
  4       Married-civ-spouse   Machine-op-inspct   Not-in-family
  ...                    ...                 ...             ...
  32556   Married-civ-spouse        Tech-support         Husband
  32557   Married-civ-spouse        Adm-clerical            Wife
  32558   Married-civ-spouse   Machine-op-inspct   Not-in-family
  32559   Married-civ-spouse     Exec-managerial       Unmarried
  32560        Never-married   Handlers-cleaners         Husband

                        race      sex  capital-gain  capital-loss  \
  0                    White     Male            46             4
  1                    White   Female            57             0
  2                    White     Male             7             3
  3                    White     Male            13             0
  4                    White   Female            73             1
  ...                    ...      ...           ...           ...
  32556                White   Female            74             0
  32557                White   Female            38             0
  32558                White   Female            42             0
  32559                White   Female            76             4
  32560   Amer-Indian-Eskimo     Male            51             0

         hours-per-week  native-country  income
  0                  40   United-States   <=50K
  1                  26   United-States   <=50K
  2                  40   United-States   <=50K
  3                  47   United-States   <=50K
  4                  52   United-States   <=50K
  ...               ...             ...     ...
  32556              40   United-States   <=50K
  32557              18   United-States    >50K
  32558              57           South   <=50K
  32559              40   United-States   <=50K
  32560              40   United-States   <=50K

  [32561 rows x 15 columns],
  'generator_model': <data_synthesizer.sdv.ctgan.ctgan_synthesizer_modified.SDVCTGAN_ at 0x7f8342c79880>},
 'resemblance_evaluation_results': {'categorical_univariate': {'chi_test':                 chisquared_tests_p
   workclass                 0.685735
   education                 0.592877
   marital-status            0.439165
   occupation                0.075962
   relationship              0.746129
   race                      0.953195
   sex                       0.296967
   native-country            0.987672
   income                    0.733345,
   'jensen_shanon':                 KL_divergence_tests  JS_divergence
   workclass                  0.014599       0.079200
   education                  0.021062       0.089973
   marital-status             0.020839       0.091790
   occupation                 0.017707       0.081923
   relationship               0.016834       0.079442
   race                       0.040395       0.126972
   sex                        0.005673       0.044885
   native-country             0.039088       0.127040
   income                     0.002376       0.029048,
   'jensen_shanon_data_mean': KL_divergence_tests    0.019841
   JS_divergence          0.083363
   dtype: float64,
   'mode_collapse_dict': {}},
  'numerical_univariate': {'univariate_num_s':                 mann_whitney      wilcoxon     student_t  welchs_Ttest  \
   age             0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
   fnlwgt          2.741577e-18  4.609761e-20  4.619605e-12  4.619837e-12
   education-num   4.887050e-05  2.148456e-04  2.391714e-06  2.391748e-06
   capital-gain    0.000000e+00  0.000000e+00  1.840994e-37  1.980615e-37
   capital-loss    0.000000e+00  0.000000e+00  1.812109e-10  1.812297e-10
   hours-per-week  3.217820e-46  2.057725e-42  7.867412e-59  7.928083e-59

                       ks_test_p
   age              0.000000e+00
   fnlwgt           2.833732e-60
   education-num    6.993236e-38
   capital-gain     0.000000e+00
   capital-loss     0.000000e+00
   hours-per-week  4.430068e-238  ,
   'univariate_num_js':                 KL_divergence_tests  JS_divergence  cohen_s_d
   age                        1.232985       0.184520   0.401673
   fnlwgt                     0.000026       0.097825   0.054219
   education-num              3.286990       0.129412   0.036973
   capital-gain               0.005335       0.481723   0.100310
   capital-loss               0.005522       0.116005   0.049982
   hours-per-week             1.047821       0.194036   0.126877,
   'univariate_num_js_data_mean': KL_divergence_tests    0.929780
   JS_divergence          0.200587
   cohen_s_d              0.128339
   dtype: float64},
  'categorical_multivariate': {'cramer_real':                 workclass  education  marital-status  occupation  \
   workclass        1.000000   0.099369        0.085061    0.399993
   education        0.099369   1.000000        0.091569    0.187334
   marital-status   0.085061   0.091569        1.000000    0.133213
   occupation       0.399993   0.187334        0.133213    1.000000
   relationship     0.098712   0.122654        0.487963    0.178626
   race             0.056280   0.074900        0.084219    0.080826
   sex              0.153670   0.095621        0.461827    0.424364
   native-country   0.045810   0.132637        0.073070    0.073121
   income           0.179208   0.368838        0.447404    0.351892

                   relationship      race       sex  native-country    income
   workclass           0.098712  0.056280  0.153670        0.045810  0.179208
   education           0.122654  0.074900  0.095621        0.132637  0.368838
   marital-status      0.487963  0.084219  0.461827        0.073070  0.447404
   occupation          0.178626  0.080826  0.424364        0.073121  0.351892
   relationship        1.000000  0.098099  0.649000        0.085310  0.453585
   race                0.098099  1.000000  0.118115        0.409258  0.100812
   sex                 0.649000  0.118115  1.000000        0.067148  0.215980
   native-country      0.085310  0.409258  0.067148        1.000000  0.098705
   income              0.453585  0.100812  0.215980        0.098705  1.000000  ,
   'cramer_synth':                 workclass  education  marital-status  occupation  \
   workclass        1.000000   0.021235        0.018087    0.022528
   education        0.021235   1.000000        0.025836    0.021028
   marital-status   0.018087   0.025836        1.000000    0.022611
   occupation       0.022528   0.021028        0.022611    1.000000
   relationship     0.017630   0.025109        0.016799    0.027721
   race             0.018848   0.025094        0.017767    0.025460
   sex              0.027378   0.045305        0.040140    0.032698
   native-country   0.040115   0.035496        0.036692    0.036087
   income           0.011289   0.035356        0.040014    0.028327

                   relationship      race       sex  native-country    income
   workclass           0.017630  0.018848  0.027378        0.040115  0.011289
   education           0.025109  0.025094  0.045305        0.035496  0.035356
   marital-status      0.016799  0.017767  0.040140        0.036692  0.040014
   occupation          0.027721  0.025460  0.032698        0.036087  0.028327
   relationship        1.000000  0.015943  0.011236        0.038369  0.025051
   race                0.015943  1.000000  0.039108        0.035070  0.027737
   sex                 0.011236  0.039108  1.000000        0.031400  0.005998
   native-country      0.038369  0.035070  0.031400        1.000000  0.041574
   income              0.025051  0.027737  0.005998        0.041574  1.000000  ,
   'diff_norm_cramer': 0.7048999999999999},
  'numerical_multivariate': {'pearson_real':                      age    fnlwgt  education-num  capital-gain  capital-loss  \
   age             1.000000  0.076646       0.036527      0.077674      0.057775
   fnlwgt          0.076646  1.000000       0.043195      0.000432      0.010252
   education-num   0.036527  0.043195       1.000000      0.122630      0.079923
   capital-gain    0.077674  0.000432       0.122630      1.000000      0.031615
   capital-loss    0.057775  0.010252       0.079923      0.031615      1.000000
   hours-per-week  0.068756  0.018768       0.148123      0.078409      0.054256

                   hours-per-week
   age                   0.068756
   fnlwgt                0.018768
   education-num         0.148123
   capital-gain          0.078409
   capital-loss          0.054256
   hours-per-week        1.000000  ,
   'pearson_synth':                      age    fnlwgt  education-num  capital-gain  capital-loss  \
   age             1.000000  0.012817       0.003277      0.001128      0.004579
   fnlwgt          0.012817  1.000000       0.007206      0.007674      0.006315
   education-num   0.003277  0.007206       1.000000      0.000356      0.000735
   capital-gain    0.001128  0.007674       0.000356      1.000000      0.010531
   capital-loss    0.004579  0.006315       0.000735      0.010531      1.000000
   hours-per-week  0.013438  0.004517       0.009969      0.001002      0.005015

                   hours-per-week
   age                   0.013438
   fnlwgt                0.004517
   education-num         0.009969
   capital-gain          0.001002
   capital-loss          0.005015
   hours-per-week        1.000000  ,
   'pearson_norm_diff': 0.030999999999999694},
  'categorical_numerical_multivariate': {'corr_ratio_real': {'corr':                 workclass  education  marital-status  occupation  \
    age              0.218365   0.229077        0.573546    0.186472
    fnlwgt           0.052620   0.067111        0.054406    0.055344
    education-num    0.197346   1.000000        0.115492    0.556586
    capital-gain     0.104268   0.197873        0.087206    0.119566
    capital-loss     0.046975   0.099203        0.081717    0.085112
    hours-per-week   0.228189   0.194284        0.250627    0.311444

                    relationship      race       sex  native-country    income
    age                 0.474219  0.043588  0.088832        0.088367  0.234037
    fnlwgt              0.037277  0.140456  0.026858        0.158627  0.009463
    education-num       0.160911  0.109650  0.012280        0.276936  0.335154
    capital-gain        0.090418  0.023410  0.048480        0.035641  0.223329
    capital-loss        0.087701  0.026708  0.045567        0.053354  0.150526
    hours-per-week      0.310074  0.054680  0.229309        0.048591  0.229689  ,
    'ax': <Axes: >},
   'corr_ratio_synth': {'corr':                 workclass  education  marital-status  occupation  \
    age              0.017941   0.020332        0.013357    0.019960
    fnlwgt           0.021606   0.023499        0.013413    0.025683
    education-num    0.014873   0.020232        0.022792    0.018795
    capital-gain     0.020407   0.025397        0.018984    0.016911
    capital-loss     0.019211   0.020720        0.010499    0.020224
    hours-per-week   0.025806   0.016889        0.008765    0.025177

                    relationship      race       sex  native-country    income
    age                 0.014110  0.020925  0.016572        0.037551  0.030107
    fnlwgt              0.018858  0.007461  0.008456        0.043012  0.003846
    education-num       0.017658  0.005992  0.015733        0.030525  0.018107
    capital-gain        0.009679  0.005823  0.002546        0.038670  0.004150
    capital-loss        0.011473  0.016424  0.006636        0.037014  0.010992
    hours-per-week      0.010056  0.015682  0.012023        0.031045  0.008622  ,
    'ax': <Axes: >},
   'diff_norm_corr_ratio': 1.6022}}}

In [6]:
from data_synthesizer.privacy_sampling import get_epsilon


get_epsilon(df_real_adult_train, synth, cat_list_adult, num_list_adult)

0.0499984644206259

In [8]:
train_data_to_evaluate = DataLoader(dataset = df_real_credit_card_train).get_dataframe(cat_list_credit_card)
synth_data_to_evaluate = DataLoader(dataset = synth).get_dataframe(cat_list_credit_card)

uni_evaluators = UnivariateEvaluator(train_data_to_evaluate, synth_data_to_evaluate)
uni_evaluators.evaluate_mode_collapse_values()
mode_collapse = uni_evaluators.get_mode_collapse()

KeyError: 'SEX'

In [7]:
import pandas as pd
mask = pd.Series([False] * len(df_real_credit_card_train))

for feature, values in mode_collapse.items():
    print(values)
    mask |= df_real_credit_card_train[feature].isin(values)

['0', '3', '4', '5', '6']
['0', '3']
['2', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['2', '3', '4', '5', '6', '7', '8']
['2', '3', '4', '5', '6', '7', '8']
['1']

In [8]:
filtered_D = df_real_credit_card_train[mask]
print(filtered_D)

       LIMIT_BAL SEX EDUCATION MARRIAGE  AGE PAY_0 PAY_2 PAY_3 PAY_4 PAY_5  \
2       180000.0   2         5        1   44     0     0    -1    -1    -1
5        20000.0   1         3        2   32     1     2     0     0     0
9       360000.0   2         3        1   43    -2    -2    -2    -2    -2
10      220000.0   2         2        2   38    -1    -1    -1    -1    -1
12      100000.0   1         1        2   27    -1     2     0     0     0
...          ...  ..       ...      ...  ...   ...   ...   ...   ...   ...
23992   280000.0   2         1        1   32     1    -2    -1     0     0
23993   160000.0   2         2        1   42     0     0     0     0     0
23996   200000.0   1         1        2   37     2     2     2     2     2
23998    70000.0   2         2        2   25     0     0     0     0     2
23999   160000.0   2         2        1   36    -2    -2    -2    -2    -2

       ... BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
2      ...       0.0     6881.0    10340.0       0.0     850.0       0.0
5      ...   19588.0    20037.0    19880.0       0.0    1302.0     685.0
9      ...   15584.0     3195.0     4261.0     805.0    1071.0   15604.0
10     ...    1621.0     8522.0     4149.0    5575.0    4716.0    1632.0
12     ...    6746.0     7889.0        0.0       0.0    1000.0    2000.0
...    ...       ...        ...        ...       ...       ...       ...
23992  ...    3508.0     -200.0     -200.0       0.0    3508.0       0.0
23993  ...  119529.0   122059.0   111378.0    8450.0    5289.0    4022.0
23996  ...  164182.0   169029.0   172084.0   13500.0    6000.0       0.0
23998  ...   35122.0    28633.0    28039.0    3000.0    2000.0    4500.0
23999  ...    2935.0     1603.0    14129.0       0.0    3660.0    3135.0

       PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
2        6881.0   10340.0     182.0                           0
5         748.0     697.0     690.0                           0
9        3195.0    4269.0    3525.0                           0
10       8559.0    4164.0   10626.0                           1
12       3323.0       0.0       0.0                           1
...         ...       ...       ...                         ...
23992       0.0       0.0       0.0                           1
23993    4195.0    3986.0    3958.0                           1
23996    7500.0    6000.0    4000.0                           1
23998    1200.0       0.0    1200.0                           1
23999    1650.0   14200.0    1500.0                           1

[10436 rows x 24 columns]

In [27]:
filtered_D.reset_index()

,index,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,2,180000.0,2,5,1,44,0,0,-1,-1,...,0.0,6881.0,10340.0,0.0,850.0,0.0,6881.0,10340.0,182.0,0
1,5,20000.0,1,3,2,32,1,2,0,0,...,19588.0,20037.0,19880.0,0.0,1302.0,685.0,748.0,697.0,690.0,0
2,9,360000.0,2,3,1,43,-2,-2,-2,-2,...,15584.0,3195.0,4261.0,805.0,1071.0,15604.0,3195.0,4269.0,3525.0,0
3,10,220000.0,2,2,2,38,-1,-1,-1,-1,...,1621.0,8522.0,4149.0,5575.0,4716.0,1632.0,8559.0,4164.0,10626.0,1
4,12,100000.0,1,1,2,27,-1,2,0,0,...,6746.0,7889.0,0.0,0.0,1000.0,2000.0,3323.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10431,23992,280000.0,2,1,1,32,1,-2,-1,0,...,3508.0,-200.0,-200.0,0.0,3508.0,0.0,0.0,0.0,0.0,1
10432,23993,160000.0,2,2,1,42,0,0,0,0,...,119529.0,122059.0,111378.0,8450.0,5289.0,4022.0,4195.0,3986.0,3958.0,1
10433,23996,200000.0,1,1,2,37,2,2,2,2,...,164182.0,169029.0,172084.0,13500.0,6000.0,0.0,7500.0,6000.0,4000.0,1
10434,23998,70000.0,2,2,2,25,0,0,0,0,...,35122.0,28633.0,28039.0,3000.0,2000.0,4500.0,1200.0,0.0,1200.0,1
10435,23999,160000.0,2,2,1,36,-2,-2,-2,-2,...,2935.0,1603.0,14129.0,0.0,3660.0,3135.0,1650.0,14200.0,1500.0,1

In [10]:
ctgan.fit_with_only_rare(filtered_D)
ctgan.reset_sampling()
synth_data_new = ctgan.sample(len(df_real_credit_card_train))

mask_ = pd.Series([False] * len(df_real_credit_card_train))

for feature, values in mode_collapse.items():
    print(values)
    mask_ |= synth_data_new[feature].isin(values)

Epoch 1, Reconstruct Loss:  27.0434,KLD Loss:  4.7940
Epoch 2, Reconstruct Loss:  30.1614,KLD Loss:  5.2331
Epoch 3, Reconstruct Loss:  36.4279,KLD Loss:  5.5586
Epoch 4, Reconstruct Loss:  46.8723,KLD Loss:  4.6960
Epoch 5, Reconstruct Loss:  55.3024,KLD Loss:  2.0771
['0', '3', '4', '5', '6']
['0', '3']
['2', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['2', '3', '4', '5', '6', '7', '8']
['2', '3', '4', '5', '6', '7', '8']
['1']

In [14]:
filtered_D_ = synth_data_new[mask_]
filtered_D_

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,118241.0,2,2,1,35,0,2,2,0,0,...,1914.0,23769.0,17619.0,413.0,586.0,1291.0,2362.0,0.0,3955.0,0
1,160208.0,2,2,1,33,0,2,2,0,0,...,-3570.0,21745.0,32241.0,1296.0,2483.0,455.0,1664.0,306.0,2588.0,0
2,126621.0,2,2,1,35,0,2,2,0,0,...,71.0,21458.0,13619.0,1569.0,1789.0,933.0,1647.0,0.0,246.0,0
3,142494.0,2,2,1,34,0,2,2,0,0,...,-472.0,10138.0,17305.0,2310.0,403.0,0.0,2511.0,412.0,2795.0,0
4,121203.0,2,2,1,31,0,2,2,0,0,...,-20.0,33551.0,10505.0,2247.0,1603.0,857.0,1658.0,0.0,3165.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,132362.0,2,2,1,33,0,2,2,0,0,...,729.0,17296.0,8899.0,0.0,0.0,413.0,2442.0,0.0,3043.0,0
23996,145460.0,2,2,1,38,0,2,2,0,0,...,-1019.0,14361.0,6516.0,138.0,1451.0,609.0,3081.0,340.0,1074.0,0
23997,154833.0,2,2,1,38,0,2,2,0,0,...,3788.0,22496.0,870.0,0.0,1521.0,0.0,589.0,24.0,2726.0,0
23998,152616.0,2,2,1,33,0,2,2,0,0,...,-1257.0,26667.0,6083.0,2482.0,1884.0,668.0,684.0,0.0,2433.0,0
23999,158552.0,2,2,1,39,0,2,2,0,0,...,-561.0,20837.0,17339.0,0.0,431.0,310.0,834.0,286.0,851.0,0

In [28]:
train_data_to_evaluate = DataLoader(dataset = df_real_credit_card_train).get_dataframe(cat_list_credit_card)
synth_data_to_evaluate_new = DataLoader(dataset = df_combined).get_dataframe(cat_list_credit_card)

uni_evaluators = UnivariateEvaluator(train_data_to_evaluate, synth_data_to_evaluate_new)
uni_evaluators.evaluate_mode_collapse_values()
mode_collapse_ = uni_evaluators.get_mode_collapse()

In [29]:
mode_collapse

{'EDUCATION': ['0', '3', '4', '5', '6'],
 'MARRIAGE': ['0', '3'],
 'PAY_0': ['2', '3', '4', '5', '6', '7', '8'],
 'PAY_2': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_3': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_4': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_5': ['2', '3', '4', '5', '6', '7', '8'],
 'PAY_6': ['2', '3', '4', '5', '6', '7', '8'],
 'default.payment.next.month': ['1']}

In [30]:
mode_collapse_

{'EDUCATION': ['0', '3', '4', '5', '6'],
 'MARRIAGE': ['0', '3'],
 'PAY_0': ['2', '3', '4', '5', '6', '7', '8'],
 'PAY_2': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_3': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_4': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_5': ['2', '3', '4', '5', '6', '7', '8'],
 'PAY_6': ['2', '3', '4', '5', '6', '7', '8']}

In [14]:
most_frequent = {}
for column in synth.columns:
    most_common_value = synth[column].value_counts().idxmax()
    most_frequent[column] = most_common_value

In [27]:
df_combined = synth.copy()
most_common_value = most_frequent['EDUCATION']
most_common_value

'2'

In [40]:
(synth_data_new['EDUCATION'] == '0').any()

False

In [15]:

df_combined = synth.copy()
for feature, values in mode_collapse.items():
    print(feature, ' : ', values)
    most_common_value = most_frequent[feature]
    for value in values :
        filter = (synth_data_to_evaluate_new[feature] == value)
        filtered_df = synth_data_to_evaluate_new[filter]
        ten_sampled_df = filtered_df.sample(n=10, random_state=42) if len(filtered_df) >= 10 else filtered_df
        df_combined = pd.concat([df_combined, ten_sampled_df], ignore_index=True)

        filter_most = (df_combined[feature] == most_common_value)
        # filtered_df_most = df_combined[filter]
        random_index = df_combined[filter_most].sample(len(ten_sampled_df)).index
        df_combined = df_combined.drop(random_index)

EDUCATION  :  ['0', '3', '4', '5', '6']
MARRIAGE  :  ['0', '3']
PAY_0  :  ['2', '3', '4', '5', '6', '7', '8']
PAY_2  :  ['1', '3', '4', '5', '6', '7', '8']
PAY_3  :  ['1', '3', '4', '5', '6', '7', '8']
PAY_4  :  ['1', '3', '4', '5', '6', '7', '8']
PAY_5  :  ['2', '3', '4', '5', '6', '7', '8']
PAY_6  :  ['2', '3', '4', '5', '6', '7', '8']
default.payment.next.month  :  ['1']

### evaluation pipeline

In [3]:
pipeline_builder = PipelineBuilder(df_real_credit_card_train, cat_list_credit_card, num_list_credit_card)
# pipeline_builder.add_ressemblance_evaluation_task(df_real_credit_card_test, df_real_credit_card_ctgan_fourth )
# pipeline_builder.add_utility_evaluation_task(df_real_credit_card_test, [ClassifierType.XGBOOST, ClassifierType.CART], df_real_credit_card_ctgan_fourth)
qai_columns = ['LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE']
risk_column = ['PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6','default.payment.next.month']
pipeline_builder.add_privacy_anonymeter_evaluation_task(df_real_credit_card_test, df_real_credit_card_ctgan_fourth )

pipeline = pipeline_builder.build()
synth = pipeline_builder.run()

Privacy anonymeter evaluation in progress.

Found 21 failed queries out of 500. Check DEBUG messages for more details.
Found 68 failed queries out of 500. Check DEBUG messages for more details.

end

In [14]:
for key in synth['resemblance_evaluation_results'] :
    print(key)

categorical_univariate
numerical_univariate
categorical_multivariate
numerical_multivariate
categorical_numerical_multivariate

In [4]:
synth

{'privacy_anonymeter_evaluation_results': {'singling_univariate': AnonymeterResults(attacks_numbers=500, attacks_succeeded=60, privacy_risk_original=0.12289724937538986, privacy_risk_control=0.1837185152398014, privacy_risk_naive=0.03556819133600645, specific_privacy=0.0),
  'singling_multivariate': AnonymeterResults(attacks_numbers=500, attacks_succeeded=57, privacy_risk_original=0.11694299541815917, privacy_risk_control=0.06867004284042351, privacy_risk_naive=0.04152244529323714, specific_privacy=0.051832277279001394),
  'linkability_attacks': AnonymeterResults(attacks_numbers=2000, attacks_succeeded=2000, privacy_risk_original=0.0343943025567045, privacy_risk_control=0.0249125145058764, privacy_risk_naive=0.003952772498782709, specific_privacy=0.00972403829593118)}}