In [2]:
import sdv
print(sdv.__version__)

1.14.0

In [7]:
from data_synthesizer.util import  plot_training_loss, ModelType
from data_loader import DataLoader
from data_synthesizer.sdv import SDVCTGAN_
from data_evaluator import histo_plot_utility_compare, ClassifierType, MultivariateEvaluator, UtilityEvaluation, accuracy_compare
from data_evaluator.privacy_evaluation import SimilarityType
from evaluation_report import EvaluationReportBuilder, EvaluationType, EvaluationReport
from data_synthesizer.pipeline.evaluation_task import ResemblanceEvaluationTask

### ctgan credit

In [2]:
cat_list_credit_card = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6', 'default.payment.next.month']
# cat_list_credit_card = ['EDUCATION', 'MARRIAGE', 'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6', 'default.payment.next.month']
num_list_credit_card = ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3','PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
df_real_credit_card_train = DataLoader('../data/credit_card_Train.csv').get_dataframe(cat_list_credit_card, str, drop_identation=True)
df_real_credit_card_test = DataLoader('../data/credit_card_Test.csv').get_dataframe(cat_list_credit_card, str, drop_identation=True)
df_real_credit_card_ctgan_holdout = DataLoader('../data/credit_card_Test.csv').get_dataframe(cat_list_credit_card, drop_identation=True)

In [ ]:
cat_list_adult = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']

In [3]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_real_credit_card_train)
ctgan = SDVCTGAN_(metadata, df_real_credit_card_train, verbose=False, cuda=True, epochs=1500)

discrete_columns :  ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'default.payment.next.month']

KeyboardInterrupt:

In [5]:
ctgan.fit(df_real_credit_card_train)

_fit from child
got it

In [6]:
data = ctgan.sample(24000)

In [7]:
data.to_csv('../data/credit_card_ctgan_test_new.csv', sep=',', index=False)

In [15]:
df_real_credit_card_train = DataLoader('../data/credit_card_Train.csv').get_dataframe(cat_list_credit_card, drop_identation=True)
df_real_credit_card_ctgan_test_new = DataLoader('../data/credit_card_ctgan_test_new.csv').get_dataframe(cat_list_credit_card)
df_real_credit_card_ctgan_third = DataLoader('../data/credit_card_ctgan_training_third.csv').get_dataframe(cat_list_credit_card)

In [7]:
df_real_credit_card_ctgan_test_new

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,10000.0,1,2,2,22,0,0,0,0,0,...,24966.0,23149.0,12198.0,1280.0,2016.0,590.0,636.0,437.0,524.0,0
1,185395.0,2,2,2,23,-1,-1,-1,-1,-1,...,-959.0,-1228.0,6834.0,6988.0,3923.0,1553.0,13647.0,11223.0,3346.0,1
2,13319.0,1,1,2,23,0,0,0,0,0,...,10525.0,6977.0,28702.0,4868.0,1332.0,1808.0,0.0,385.0,3036.0,0
3,264248.0,2,2,2,24,0,0,-1,-1,-2,...,2084.0,-1906.0,2440.0,1800.0,8748.0,589.0,19.0,0.0,259.0,1
4,355653.0,1,2,1,42,-1,-1,-1,-1,-1,...,3197.0,6782.0,-396.0,1087.0,7963.0,1222.0,8280.0,404.0,9.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,23508.0,1,2,2,23,2,0,0,0,0,...,34617.0,40897.0,35440.0,3227.0,2437.0,1574.0,2642.0,1849.0,2586.0,1
23996,166832.0,1,1,1,39,1,-2,-2,-2,-2,...,-867.0,-1298.0,969.0,0.0,0.0,867.0,0.0,32.0,64.0,1
23997,78340.0,1,1,2,30,0,0,0,0,0,...,29343.0,49329.0,54987.0,5007.0,1096.0,1440.0,1935.0,1152.0,1728.0,1
23998,271732.0,2,2,1,41,-1,-1,-1,-1,-1,...,1747.0,4445.0,159.0,0.0,926.0,136.0,3153.0,44.0,599.0,1
23999,56815.0,1,1,2,28,2,2,2,0,-2,...,1890.0,1188.0,-849.0,1253.0,312.0,536.0,0.0,0.0,0.0,1

In [16]:
evaluation_dict = {'CTGAN new' : 
                   (df_real_credit_card_train, df_real_credit_card_ctgan_test_new),
                    'CTGAN' :
                   (df_real_credit_card_train, df_real_credit_card_ctgan_third),
                   }

qai_columns = ['LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE']
risk_column = ['PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6','default.payment.next.month']
builder = EvaluationReportBuilder(evaluation_dict )
# builder.with_privacy(df_real_credit_card_test, qai_columns, risk_column).with_privacy_anonymeter(df_real_credit_card_test).get_evaluation()
# builder.with_privacy(df_real_credit_card_test, qai_columns, risk_column).get_evaluation()
report_ress = builder.with_resemblance().build()
# report.save('report\\report_resemblance_credit_test')

In [17]:
report_ress.display_evaluation()

Tab(children=(VBox(children=(Accordion(children=(VBox(children=(HBox(children=(HTML(value='<style type="text/c…

### ctgan Adult

In [5]:
cat_list_adult = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']

df_real_adult_train = DataLoader('../data/adult_train.csv').get_dataframe(cat_list_adult)
df_real_adult_test = DataLoader('../data/adult_test.csv').get_dataframe(cat_list_adult)

In [6]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_real_adult_train)
ctgan = SDVCTGAN_(metadata, df_real_adult_train, verbose=False, cuda=True, epochs=1500)

discrete_columns :  ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']

In [7]:
ctgan.fit(df_real_adult_train)

_fit from child
got it

In [8]:
data = ctgan.sample(32561)

In [15]:
data[data['occupation'] == ' Armed-Forces']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
316,51,Federal-gov,322582,HS-grad,9,Married-civ-spouse,Armed-Forces,Husband,White,Male,8,0,40,United-States,<=50K
1539,58,Federal-gov,189213,12th,7,Married-civ-spouse,Armed-Forces,Husband,White,Male,14,0,40,United-States,<=50K
2221,49,Federal-gov,239051,Bachelors,13,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,0,40,United-States,<=50K
2392,38,Federal-gov,304390,HS-grad,9,Married-civ-spouse,Armed-Forces,Husband,White,Male,23,0,40,United-States,<=50K
2737,30,Federal-gov,331707,Assoc-acdm,12,Married-civ-spouse,Armed-Forces,Husband,Black,Male,0,1813,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29385,32,Federal-gov,298845,Bachelors,13,Married-civ-spouse,Armed-Forces,Husband,White,Male,2,0,40,United-States,<=50K
29710,32,Federal-gov,151602,Some-college,10,Married-civ-spouse,Armed-Forces,Husband,White,Male,14,0,40,United-States,<=50K
29951,61,Federal-gov,46856,Masters,14,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,0,40,United-States,>50K
31160,47,Federal-gov,188701,Some-college,10,Never-married,Armed-Forces,Not-in-family,Black,Male,4060,0,40,United-States,<=50K
31541,58,Federal-gov,320923,Bachelors,13,Married-civ-spouse,Armed-Forces,Husband,White,Male,7688,1852,40,United-States,>50K

In [19]:
data.to_csv('../data/adult_ctgan_test_new.csv', sep=',', index=False)

### ctgan cardio

In [22]:
cat_list_cardio = ['gender','cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']

df_real_cardio_train = DataLoader('../data/cardio_train.csv').get_dataframe(cat_list_cardio, category_type=str, sep = ',')
df_real_cardio_test = DataLoader('../data/cardio_test.csv').get_dataframe(cat_list_cardio, category_type=str, sep = ',')

In [26]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_real_cardio_train)
ctgan = SDVCTGAN_(metadata, df_real_cardio_train, verbose=False, cuda=True, epochs=1500)

discrete_columns :  ['gender', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']

In [27]:
ctgan.fit(df_real_cardio_train)

_fit from child
got it

In [28]:
data = ctgan.sample(49000)

In [29]:
data.to_csv('../data/cardio_ctgan_test_new.csv', sep=',', index=False)

## Test Pipeline with Cardio - TVAE

In [1]:
from data_synthesizer.util import  plot_training_loss, ModelType
from data_loader import DataLoader
from data_synthesizer.sdv import SDVCTGAN_, SDVTVAE_
from data_evaluator import histo_plot_utility_compare, ClassifierType, MultivariateEvaluator, UtilityEvaluation, accuracy_compare, UnivariateEvaluator
from data_evaluator.privacy_evaluation import SimilarityType
from evaluation_report import EvaluationReportBuilder, EvaluationType, EvaluationReport
from data_synthesizer.pipeline import PipelineBuilder, TaskType

In [2]:
cat_list_credit_card = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6', 'default.payment.next.month']
# cat_list_credit_card = ['EDUCATION', 'MARRIAGE', 'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6', 'default.payment.next.month']
num_list_credit_card = ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4','BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3','PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
cat_list_adult = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country','income']
num_list_adult = ['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
df_real_credit_card_train = DataLoader('../data/credit_card_Train.csv').get_dataframe(cat_list_credit_card, str, drop_identation=True)
df_real_credit_card_test = DataLoader('../data/credit_card_Test.csv').get_dataframe(cat_list_credit_card, str, drop_identation=True)
df_real_credit_card_ctgan_fourth = DataLoader('../data/credit_card_ctgan_training_fourth.csv').get_dataframe(cat_list_credit_card, str)
df_real_adult_train = DataLoader('../data/adult_train.csv').get_dataframe(cat_list_adult, str)
df_real_adult_test = DataLoader('../data/adult_test.csv').get_dataframe(cat_list_adult, str)

### generation pipeline

In [3]:
from sdv.metadata import SingleTableMetadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_real_adult_train)
ctgan = SDVTVAE_(metadata, df_real_adult_train, epochs= 100, cuda=True)

In [4]:
pipeline_builder = PipelineBuilder(df_real_adult_train, cat_list_adult, num_list_adult, ctgan)
pipeline_builder.add_generation_task()
pipeline_builder.add_fine_tuning_generation_task()
pipeline_builder.add_sampling_and_reject_task(0.1)
pipeline_builder.add_ressemblance_evaluation_task(df_real_adult_test)
pipeline = pipeline_builder.build()
synth = pipeline_builder.run()

Generation processing:
Epoch 1, Reconstruct Loss:  23.0214,KLD Loss:  0.0827
Epoch 2, Reconstruct Loss:  26.3473,KLD Loss:  0.5642
Epoch 3, Reconstruct Loss:  18.5055,KLD Loss:  1.4625
Epoch 4, Reconstruct Loss:  18.9888,KLD Loss:  1.3157
Epoch 5, Reconstruct Loss:  16.8365,KLD Loss:  2.3614
Epoch 6, Reconstruct Loss:  15.2742,KLD Loss:  2.8543
Epoch 7, Reconstruct Loss:  13.8220,KLD Loss:  3.7710
Epoch 8, Reconstruct Loss:  15.3046,KLD Loss:  4.3983
Epoch 9, Reconstruct Loss:  9.4454,KLD Loss:  4.7800
Epoch 10, Reconstruct Loss:  11.8031,KLD Loss:  5.2902
Epoch 11, Reconstruct Loss:  5.7184,KLD Loss:  4.9850
Epoch 12, Reconstruct Loss:  7.7227,KLD Loss:  5.4535
Epoch 13, Reconstruct Loss:  3.9796,KLD Loss:  5.2982
Epoch 14, Reconstruct Loss:  1.9697,KLD Loss:  5.7690
Epoch 15, Reconstruct Loss:  2.3792,KLD Loss:  5.9675
Epoch 16, Reconstruct Loss:  3.3116,KLD Loss:  6.9196
Epoch 17, Reconstruct Loss:  3.4531,KLD Loss:  6.7137
Epoch 18, Reconstruct Loss: -0.1975,KLD Loss:  7.2109
Epoch 19, Reconstruct Loss:  1.1360,KLD Loss:  7.7684
Epoch 20, Reconstruct Loss:  2.5889,KLD Loss:  7.6978
Epoch 21, Reconstruct Loss: -1.7532,KLD Loss:  7.4367
Epoch 22, Reconstruct Loss:  2.0820,KLD Loss:  6.9142
Epoch 23, Reconstruct Loss: -1.1592,KLD Loss:  7.8391
Epoch 24, Reconstruct Loss: -0.5596,KLD Loss:  7.5014
Epoch 25, Reconstruct Loss:  1.2533,KLD Loss:  7.1590
Epoch 26, Reconstruct Loss: -4.2789,KLD Loss:  8.6382
Epoch 27, Reconstruct Loss: -1.0254,KLD Loss:  8.0858
Epoch 28, Reconstruct Loss: -3.7944,KLD Loss:  7.7084
Epoch 29, Reconstruct Loss: -3.9250,KLD Loss:  8.6673
Epoch 30, Reconstruct Loss: -5.2081,KLD Loss:  8.4462
Epoch 31, Reconstruct Loss: -6.0529,KLD Loss:  9.3014
Epoch 32, Reconstruct Loss: -6.3513,KLD Loss:  10.7981
Epoch 33, Reconstruct Loss: -8.7994,KLD Loss:  8.6266
Epoch 34, Reconstruct Loss: -5.3712,KLD Loss:  9.6066
Epoch 35, Reconstruct Loss: -7.1453,KLD Loss:  10.6428
Epoch 36, Reconstruct Loss: -9.1688,KLD Loss:  10.2923
Epoch 37, Reconstruct Loss: -8.7268,KLD Loss:  9.6941
Epoch 38, Reconstruct Loss: -10.2196,KLD Loss:  10.7802
Epoch 39, Reconstruct Loss: -6.0217,KLD Loss:  10.4848
Epoch 40, Reconstruct Loss: -8.1313,KLD Loss:  10.3715
Epoch 41, Reconstruct Loss: -9.5059,KLD Loss:  12.1366
Epoch 42, Reconstruct Loss: -8.0579,KLD Loss:  11.4595
Epoch 43, Reconstruct Loss: -11.2472,KLD Loss:  12.3805
Epoch 44, Reconstruct Loss: -11.8548,KLD Loss:  12.0028
Epoch 45, Reconstruct Loss: -10.7900,KLD Loss:  11.1823
Epoch 46, Reconstruct Loss: -9.3342,KLD Loss:  12.2704
Epoch 47, Reconstruct Loss: -12.2255,KLD Loss:  13.4567
Epoch 48, Reconstruct Loss: -11.9337,KLD Loss:  12.9654
Epoch 49, Reconstruct Loss: -13.7747,KLD Loss:  13.0011
Epoch 50, Reconstruct Loss: -14.1730,KLD Loss:  12.4326
Epoch 51, Reconstruct Loss: -14.3811,KLD Loss:  12.2431
Epoch 52, Reconstruct Loss: -8.6224,KLD Loss:  12.5863
Epoch 53, Reconstruct Loss: -13.6536,KLD Loss:  12.6143
Epoch 54, Reconstruct Loss: -15.8173,KLD Loss:  13.7897
Epoch 55, Reconstruct Loss: -15.7341,KLD Loss:  13.2364
Epoch 56, Reconstruct Loss: -16.3639,KLD Loss:  15.3921
Epoch 57, Reconstruct Loss: -15.4588,KLD Loss:  13.9291
Epoch 58, Reconstruct Loss: -17.6766,KLD Loss:  13.5398
Epoch 59, Reconstruct Loss: -16.9293,KLD Loss:  13.8635
Epoch 60, Reconstruct Loss: -7.6824,KLD Loss:  14.5449
Epoch 61, Reconstruct Loss: -17.5421,KLD Loss:  13.4422
Epoch 62, Reconstruct Loss: -15.6648,KLD Loss:  13.5967
Epoch 63, Reconstruct Loss: -17.0917,KLD Loss:  14.6539
Epoch 64, Reconstruct Loss: -18.4457,KLD Loss:  15.0723
Epoch 65, Reconstruct Loss: -20.0014,KLD Loss:  14.9200
Epoch 66, Reconstruct Loss: -17.4951,KLD Loss:  14.5757
Epoch 67, Reconstruct Loss: -20.7226,KLD Loss:  14.2485
Epoch 68, Reconstruct Loss: -20.9968,KLD Loss:  14.7665
Epoch 69, Reconstruct Loss: -19.6744,KLD Loss:  14.8170
Epoch 70, Reconstruct Loss: -15.4636,KLD Loss:  15.3913
Epoch 71, Reconstruct Loss: -18.0516,KLD Loss:  16.0583
Epoch 72, Reconstruct Loss: -20.1628,KLD Loss:  13.9232
Epoch 73, Reconstruct Loss: -21.0207,KLD Loss:  14.9288
Epoch 74, Reconstruct Loss: -17.9880,KLD Loss:  14.6142
Epoch 75, Reconstruct Loss: -14.8316,KLD Loss:  15.0680
Epoch 76, Reconstruct Loss: -14.8905,KLD Loss:  13.6313
Epoch 77, Reconstruct Loss: -16.1491,KLD Loss:  15.7696
Epoch 78, Reconstruct Loss: -19.1045,KLD Loss:  14.7001
Epoch 79, Reconstruct Loss: -21.5879,KLD Loss:  14.2491
Epoch 80, Reconstruct Loss: -19.6562,KLD Loss:  15.2950
Epoch 81, Reconstruct Loss: -16.8013,KLD Loss:  16.2044
Epoch 82, Reconstruct Loss: -17.8595,KLD Loss:  14.8557
Epoch 83, Reconstruct Loss: -20.7181,KLD Loss:  15.1858
Epoch 84, Reconstruct Loss: -20.0445,KLD Loss:  14.8559
Epoch 85, Reconstruct Loss: -18.6056,KLD Loss:  17.1356
Epoch 86, Reconstruct Loss: -18.2685,KLD Loss:  16.1094
Epoch 87, Reconstruct Loss: -18.5046,KLD Loss:  15.1694
Epoch 88, Reconstruct Loss: -22.5342,KLD Loss:  13.4553
Epoch 89, Reconstruct Loss: -20.2227,KLD Loss:  15.1100
Epoch 90, Reconstruct Loss: -22.4788,KLD Loss:  14.2278
Epoch 91, Reconstruct Loss: -18.4975,KLD Loss:  14.9942
Epoch 92, Reconstruct Loss: -19.2966,KLD Loss:  14.9520
Epoch 93, Reconstruct Loss: -20.1587,KLD Loss:  14.8452
Epoch 94, Reconstruct Loss: -20.9254,KLD Loss:  16.1999
Epoch 95, Reconstruct Loss: -20.5655,KLD Loss:  14.1596
Epoch 96, Reconstruct Loss: -23.2580,KLD Loss:  15.4440
Epoch 97, Reconstruct Loss: -19.5874,KLD Loss:  15.7664
Epoch 98, Reconstruct Loss: -20.0284,KLD Loss:  17.1697
Epoch 99, Reconstruct Loss: -21.9294,KLD Loss:  14.2509
Epoch 100, Reconstruct Loss: -21.9918,KLD Loss:  15.1824
Fine Tuning Generation Task
mode collapse correction
[' Never-worked', ' Without-pay']
[' Married-AF-spouse']
[' Armed-Forces']
[' Amer-Indian-Eskimo', ' Other']
[' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England', ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong', ' Hungary', ' Iran', ' Ireland', ' Italy', ' Japan', ' Laos', ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' Vietnam', ' Yugoslavia']
rare from train :  2258
Epoch 1, Reconstruct Loss:  30.9905,KLD Loss:  17.8096
Epoch 2, Reconstruct Loss:  1.5328,KLD Loss:  18.3597
Epoch 3, Reconstruct Loss: -10.5175,KLD Loss:  16.9267
Epoch 4, Reconstruct Loss: -5.9963,KLD Loss:  16.7497
Epoch 5, Reconstruct Loss: -7.3685,KLD Loss:  15.7780
Epoch 6, Reconstruct Loss: -9.7489,KLD Loss:  15.1870
Epoch 7, Reconstruct Loss: -7.8335,KLD Loss:  14.9893
Epoch 8, Reconstruct Loss: -10.2263,KLD Loss:  14.8082
Epoch 9, Reconstruct Loss: -11.3535,KLD Loss:  14.4554
Epoch 10, Reconstruct Loss: -11.9139,KLD Loss:  14.6572
Epoch 11, Reconstruct Loss: -10.3053,KLD Loss:  14.4771
Epoch 12, Reconstruct Loss: -11.3578,KLD Loss:  14.2991
Epoch 13, Reconstruct Loss: -11.6314,KLD Loss:  14.4092
Epoch 14, Reconstruct Loss: -10.4259,KLD Loss:  15.1431
Epoch 15, Reconstruct Loss: -13.9355,KLD Loss:  14.7247
Epoch 16, Reconstruct Loss: -13.1283,KLD Loss:  14.8705
Epoch 17, Reconstruct Loss: -11.8788,KLD Loss:  14.9017
Epoch 18, Reconstruct Loss: -13.5514,KLD Loss:  14.5530
Epoch 19, Reconstruct Loss: -12.7909,KLD Loss:  15.2169
Epoch 20, Reconstruct Loss: -11.9859,KLD Loss:  15.1886
Epoch 21, Reconstruct Loss: -14.2920,KLD Loss:  15.5442
Epoch 22, Reconstruct Loss: -13.2635,KLD Loss:  15.3096
Epoch 23, Reconstruct Loss: -13.7848,KLD Loss:  15.6237
Epoch 24, Reconstruct Loss: -15.7954,KLD Loss:  15.6376
Epoch 25, Reconstruct Loss: -14.2984,KLD Loss:  14.8952
Epoch 26, Reconstruct Loss: -15.0212,KLD Loss:  15.4285
Epoch 27, Reconstruct Loss: -15.2924,KLD Loss:  15.9308
Epoch 28, Reconstruct Loss: -14.7603,KLD Loss:  15.3352
Epoch 29, Reconstruct Loss: -13.7915,KLD Loss:  15.1935
Epoch 30, Reconstruct Loss: -14.5203,KLD Loss:  15.5783
Epoch 31, Reconstruct Loss: -15.5028,KLD Loss:  15.5488
Epoch 32, Reconstruct Loss: -13.6012,KLD Loss:  15.9235
Epoch 33, Reconstruct Loss: -15.6220,KLD Loss:  16.5919
Epoch 34, Reconstruct Loss: -14.9926,KLD Loss:  15.8924
Epoch 35, Reconstruct Loss: -15.0912,KLD Loss:  16.5307
Epoch 36, Reconstruct Loss: -15.6877,KLD Loss:  16.0179
Epoch 37, Reconstruct Loss: -14.8600,KLD Loss:  15.5247
Epoch 38, Reconstruct Loss: -14.9369,KLD Loss:  15.9084
Epoch 39, Reconstruct Loss: -13.6894,KLD Loss:  16.0053
Epoch 40, Reconstruct Loss: -16.1382,KLD Loss:  15.7848
Epoch 41, Reconstruct Loss: -15.2172,KLD Loss:  16.1667
Epoch 42, Reconstruct Loss: -14.9429,KLD Loss:  16.0756
Epoch 43, Reconstruct Loss: -15.1389,KLD Loss:  15.7060
Epoch 44, Reconstruct Loss: -14.2346,KLD Loss:  16.8899
Epoch 45, Reconstruct Loss: -16.3473,KLD Loss:  16.0966
Epoch 46, Reconstruct Loss: -15.6234,KLD Loss:  15.9252
Epoch 47, Reconstruct Loss: -16.2646,KLD Loss:  16.3842
Epoch 48, Reconstruct Loss: -15.6898,KLD Loss:  16.0505
Epoch 49, Reconstruct Loss: -14.8262,KLD Loss:  16.5241
Epoch 50, Reconstruct Loss: -17.4183,KLD Loss:  16.3560
Epoch 51, Reconstruct Loss: -14.7333,KLD Loss:  16.2493
Epoch 52, Reconstruct Loss: -16.4205,KLD Loss:  16.6190
Epoch 53, Reconstruct Loss: -16.5673,KLD Loss:  16.6047
Epoch 54, Reconstruct Loss: -17.4958,KLD Loss:  16.1891
Epoch 55, Reconstruct Loss: -16.5952,KLD Loss:  16.8415
Epoch 56, Reconstruct Loss: -15.2857,KLD Loss:  16.5114
Epoch 57, Reconstruct Loss: -16.2163,KLD Loss:  16.4583
Epoch 58, Reconstruct Loss: -16.5993,KLD Loss:  16.7523
Epoch 59, Reconstruct Loss: -15.8899,KLD Loss:  16.8193
Epoch 60, Reconstruct Loss: -16.9282,KLD Loss:  16.7526
Epoch 61, Reconstruct Loss: -14.6762,KLD Loss:  16.7215
Epoch 62, Reconstruct Loss: -17.4743,KLD Loss:  16.7946
Epoch 63, Reconstruct Loss: -16.6168,KLD Loss:  16.5116
Epoch 64, Reconstruct Loss: -16.6244,KLD Loss:  17.0644
Epoch 65, Reconstruct Loss: -15.2833,KLD Loss:  16.2166
Epoch 66, Reconstruct Loss: -17.2564,KLD Loss:  16.1788
Epoch 67, Reconstruct Loss: -15.3119,KLD Loss:  16.4749
Epoch 68, Reconstruct Loss: -16.8498,KLD Loss:  16.3890
Epoch 69, Reconstruct Loss: -16.7386,KLD Loss:  16.6925
Epoch 70, Reconstruct Loss: -15.6247,KLD Loss:  16.4977
Epoch 71, Reconstruct Loss: -15.2971,KLD Loss:  16.7916
Epoch 72, Reconstruct Loss: -16.8534,KLD Loss:  16.6583
Epoch 73, Reconstruct Loss: -18.2061,KLD Loss:  16.4889
Epoch 74, Reconstruct Loss: -17.1401,KLD Loss:  16.4242
Epoch 75, Reconstruct Loss: -17.2342,KLD Loss:  16.7518
Epoch 76, Reconstruct Loss: -15.5693,KLD Loss:  16.9523
Epoch 77, Reconstruct Loss: -17.0304,KLD Loss:  16.8786
Epoch 78, Reconstruct Loss: -15.7360,KLD Loss:  16.7452
Epoch 79, Reconstruct Loss: -16.7794,KLD Loss:  16.5431
Epoch 80, Reconstruct Loss: -15.7258,KLD Loss:  16.6860
Epoch 81, Reconstruct Loss: -17.2268,KLD Loss:  16.6117
Epoch 82, Reconstruct Loss: -14.3331,KLD Loss:  16.9015
Epoch 83, Reconstruct Loss: -17.4894,KLD Loss:  16.1733
Epoch 84, Reconstruct Loss: -17.2645,KLD Loss:  16.2540
Epoch 85, Reconstruct Loss: -16.2147,KLD Loss:  16.5212
Epoch 86, Reconstruct Loss: -17.5147,KLD Loss:  17.0885
Epoch 87, Reconstruct Loss: -16.4198,KLD Loss:  16.6690
Epoch 88, Reconstruct Loss: -15.2722,KLD Loss:  16.9694
Epoch 89, Reconstruct Loss: -15.8246,KLD Loss:  16.7137
Epoch 90, Reconstruct Loss: -17.3679,KLD Loss:  16.8762
Epoch 91, Reconstruct Loss: -17.3622,KLD Loss:  17.2409
Epoch 92, Reconstruct Loss: -16.9799,KLD Loss:  17.0172
Epoch 93, Reconstruct Loss: -17.3359,KLD Loss:  16.9533
Epoch 94, Reconstruct Loss: -16.9407,KLD Loss:  17.0873
Epoch 95, Reconstruct Loss: -17.8821,KLD Loss:  16.7257
Epoch 96, Reconstruct Loss: -17.0858,KLD Loss:  16.6375
Epoch 97, Reconstruct Loss: -15.7292,KLD Loss:  16.7962
Epoch 98, Reconstruct Loss: -15.3232,KLD Loss:  17.0266
Epoch 99, Reconstruct Loss: -16.1300,KLD Loss:  16.6758
Epoch 100, Reconstruct Loss: -17.9480,KLD Loss:  16.7087
filter_mask :  True
len filtered_df : 121
df_combined : 10
filter_mask :  True
len filtered_df : 63
df_combined : 10
filter_mask :  True
len filtered_df : 71
df_combined : 10
filter_mask :  True
len filtered_df : 46
df_combined : 10
filter_mask :  True
len filtered_df : 1600
df_combined : 12
filter_mask :  True
len filtered_df : 805
df_combined : 11
filter_mask :  True
len filtered_df : 99
df_combined : 10
filter_mask :  True
len filtered_df : 1257
df_combined : 11
filter_mask :  True
len filtered_df : 2057
df_combined : 10
filter_mask :  True
len filtered_df : 28
df_combined : 10
filter_mask :  True
len filtered_df : 310
df_combined : 10
filter_mask :  True
len filtered_df : 583
df_combined : 11
filter_mask :  True
len filtered_df : 32
df_combined : 10
filter_mask :  True
len filtered_df : 536
df_combined : 14
filter_mask :  True
len filtered_df : 1109
df_combined : 11
filter_mask :  True
len filtered_df : 97
df_combined : 10
filter_mask :  True
len filtered_df : 1137
df_combined : 10
filter_mask :  True
len filtered_df : 117
df_combined : 10
filter_mask :  True
len filtered_df : 715
df_combined : 10
filter_mask :  True
len filtered_df : 97
df_combined : 10
filter_mask :  True
len filtered_df : 1
df_combined : 1
filter_mask :  False
len filtered_df : 0
df_combined : 0
filter_mask :  True
len filtered_df : 9
df_combined : 9
filter_mask :  False
len filtered_df : 0
df_combined : 0
filter_mask :  True
len filtered_df : 285
df_combined : 10
filter_mask :  True
len filtered_df : 102
df_combined : 10
filter_mask :  True
len filtered_df : 885
df_combined : 11
filter_mask :  True
len filtered_df : 990
df_combined : 12
filter_mask :  True
len filtered_df : 42
df_combined : 10
filter_mask :  True
len filtered_df : 29
df_combined : 10
filter_mask :  False
len filtered_df : 0
df_combined : 0
filter_mask :  True
len filtered_df : 36
df_combined : 10
filter_mask :  True
len filtered_df : 103
df_combined : 10
filter_mask :  True
len filtered_df : 53
df_combined : 10
filter_mask :  True
len filtered_df : 1380
df_combined : 16
filter_mask :  False
len filtered_df : 0
df_combined : 0
filter_mask :  True
len filtered_df : 1607
df_combined : 11
filter_mask :  True
len filtered_df : 1
df_combined : 1
filter_mask :  True
len filtered_df : 1
df_combined : 1
filter_mask :  True
len filtered_df : 1281
df_combined : 13
filter_mask :  True
len filtered_df : 17
df_combined : 10
mode collapse correction
[' Honduras', ' Hungary', ' Outlying-US(Guam-USVI-etc)', ' Scotland']
rare from train :  52
Epoch 1, Reconstruct Loss: -5.9927,KLD Loss:  16.0794
Epoch 2, Reconstruct Loss:  113.8597,KLD Loss:  16.1066
Epoch 3, Reconstruct Loss:  2.1071,KLD Loss:  16.3646
Epoch 4, Reconstruct Loss:  20.6513,KLD Loss:  16.6176
Epoch 5, Reconstruct Loss:  48.4464,KLD Loss:  16.8684
Epoch 6, Reconstruct Loss:  33.2158,KLD Loss:  17.1356
Epoch 7, Reconstruct Loss:  3.0451,KLD Loss:  17.4051
Epoch 8, Reconstruct Loss: -6.8333,KLD Loss:  17.6224
Epoch 9, Reconstruct Loss: -4.1167,KLD Loss:  17.7673
Epoch 10, Reconstruct Loss:  3.9878,KLD Loss:  17.8448
Epoch 11, Reconstruct Loss:  8.6971,KLD Loss:  17.8611
Epoch 12, Reconstruct Loss:  5.5504,KLD Loss:  17.8295
Epoch 13, Reconstruct Loss: -0.8010,KLD Loss:  17.7546
Epoch 14, Reconstruct Loss: -7.6232,KLD Loss:  17.6552
Epoch 15, Reconstruct Loss: -10.7191,KLD Loss:  17.5414
Epoch 16, Reconstruct Loss: -11.8068,KLD Loss:  17.4233
Epoch 17, Reconstruct Loss: -9.5855,KLD Loss:  17.3034
Epoch 18, Reconstruct Loss: -5.4087,KLD Loss:  17.1785
Epoch 19, Reconstruct Loss: -5.7436,KLD Loss:  17.0695
Epoch 20, Reconstruct Loss: -7.5905,KLD Loss:  16.9709
Epoch 21, Reconstruct Loss: -11.0696,KLD Loss:  16.8777
Epoch 22, Reconstruct Loss: -12.6390,KLD Loss:  16.7868
Epoch 23, Reconstruct Loss: -14.1209,KLD Loss:  16.7018
Epoch 24, Reconstruct Loss: -14.3964,KLD Loss:  16.6203
Epoch 25, Reconstruct Loss: -14.0033,KLD Loss:  16.5450
Epoch 26, Reconstruct Loss: -13.1873,KLD Loss:  16.4738
Epoch 27, Reconstruct Loss: -12.4488,KLD Loss:  16.4111
Epoch 28, Reconstruct Loss: -14.2259,KLD Loss:  16.3520
Epoch 29, Reconstruct Loss: -15.4987,KLD Loss:  16.2840
Epoch 30, Reconstruct Loss: -16.0282,KLD Loss:  16.2164
Epoch 31, Reconstruct Loss: -16.2239,KLD Loss:  16.1487
Epoch 32, Reconstruct Loss: -16.3377,KLD Loss:  16.0851
Epoch 33, Reconstruct Loss: -17.7445,KLD Loss:  16.0290
Epoch 34, Reconstruct Loss: -17.0728,KLD Loss:  15.9545
Epoch 35, Reconstruct Loss: -17.1746,KLD Loss:  15.8798
Epoch 36, Reconstruct Loss: -16.8162,KLD Loss:  15.7972
Epoch 37, Reconstruct Loss: -17.7364,KLD Loss:  15.7080
Epoch 38, Reconstruct Loss: -19.1172,KLD Loss:  15.6131
Epoch 39, Reconstruct Loss: -18.2352,KLD Loss:  15.5122
Epoch 40, Reconstruct Loss: -18.6532,KLD Loss:  15.4201
Epoch 41, Reconstruct Loss: -19.4744,KLD Loss:  15.3327
Epoch 42, Reconstruct Loss: -18.5810,KLD Loss:  15.2481
Epoch 43, Reconstruct Loss: -19.4900,KLD Loss:  15.1660
Epoch 44, Reconstruct Loss: -19.1508,KLD Loss:  15.0844
Epoch 45, Reconstruct Loss: -19.1490,KLD Loss:  15.0067
Epoch 46, Reconstruct Loss: -18.8217,KLD Loss:  14.9401
Epoch 47, Reconstruct Loss: -19.9463,KLD Loss:  14.8834
Epoch 48, Reconstruct Loss: -20.6263,KLD Loss:  14.8314
Epoch 49, Reconstruct Loss: -19.4250,KLD Loss:  14.7800
Epoch 50, Reconstruct Loss: -21.2540,KLD Loss:  14.7350
Epoch 51, Reconstruct Loss: -19.6452,KLD Loss:  14.6822
Epoch 52, Reconstruct Loss: -20.7311,KLD Loss:  14.6356
Epoch 53, Reconstruct Loss: -20.1047,KLD Loss:  14.5880
Epoch 54, Reconstruct Loss: -20.4738,KLD Loss:  14.5436
Epoch 55, Reconstruct Loss: -21.5283,KLD Loss:  14.4995
Epoch 56, Reconstruct Loss: -20.1126,KLD Loss:  14.4456
Epoch 57, Reconstruct Loss: -21.6485,KLD Loss:  14.3993
Epoch 58, Reconstruct Loss: -21.4363,KLD Loss:  14.3513
Epoch 59, Reconstruct Loss: -22.2179,KLD Loss:  14.3061
Epoch 60, Reconstruct Loss: -21.5406,KLD Loss:  14.2635
Epoch 61, Reconstruct Loss: -21.6201,KLD Loss:  14.2262
Epoch 62, Reconstruct Loss: -22.0889,KLD Loss:  14.1947
Epoch 63, Reconstruct Loss: -21.6141,KLD Loss:  14.1635
Epoch 64, Reconstruct Loss: -21.9767,KLD Loss:  14.1405
Epoch 65, Reconstruct Loss: -21.7714,KLD Loss:  14.1206
Epoch 66, Reconstruct Loss: -22.0379,KLD Loss:  14.1075
Epoch 67, Reconstruct Loss: -21.9123,KLD Loss:  14.0967
Epoch 68, Reconstruct Loss: -22.6625,KLD Loss:  14.0905
Epoch 69, Reconstruct Loss: -23.0191,KLD Loss:  14.0821
Epoch 70, Reconstruct Loss: -22.9687,KLD Loss:  14.0757
Epoch 71, Reconstruct Loss: -22.8556,KLD Loss:  14.0641
Epoch 72, Reconstruct Loss: -22.6885,KLD Loss:  14.0461
Epoch 73, Reconstruct Loss: -23.4913,KLD Loss:  14.0318
Epoch 74, Reconstruct Loss: -22.4072,KLD Loss:  14.0172
Epoch 75, Reconstruct Loss: -22.9118,KLD Loss:  14.0072
Epoch 76, Reconstruct Loss: -23.5655,KLD Loss:  14.0000
Epoch 77, Reconstruct Loss: -22.8827,KLD Loss:  13.9889
Epoch 78, Reconstruct Loss: -23.6410,KLD Loss:  13.9874
Epoch 79, Reconstruct Loss: -22.4487,KLD Loss:  13.9836
Epoch 80, Reconstruct Loss: -23.4207,KLD Loss:  13.9957
Epoch 81, Reconstruct Loss: -23.7597,KLD Loss:  14.0074
Epoch 82, Reconstruct Loss: -24.5477,KLD Loss:  14.0252
Epoch 83, Reconstruct Loss: -23.3941,KLD Loss:  14.0362
Epoch 84, Reconstruct Loss: -23.9504,KLD Loss:  14.0590
Epoch 85, Reconstruct Loss: -24.0168,KLD Loss:  14.0865
Epoch 86, Reconstruct Loss: -24.6655,KLD Loss:  14.1087
Epoch 87, Reconstruct Loss: -25.0787,KLD Loss:  14.1281
Epoch 88, Reconstruct Loss: -24.7534,KLD Loss:  14.1411
Epoch 89, Reconstruct Loss: -23.7159,KLD Loss:  14.1582
Epoch 90, Reconstruct Loss: -24.3138,KLD Loss:  14.1823
Epoch 91, Reconstruct Loss: -24.9881,KLD Loss:  14.2047
Epoch 92, Reconstruct Loss: -25.5081,KLD Loss:  14.2180
Epoch 93, Reconstruct Loss: -24.2933,KLD Loss:  14.2217
Epoch 94, Reconstruct Loss: -25.4482,KLD Loss:  14.2319
Epoch 95, Reconstruct Loss: -25.2714,KLD Loss:  14.2425
Epoch 96, Reconstruct Loss: -25.4822,KLD Loss:  14.2549
Epoch 97, Reconstruct Loss: -25.8190,KLD Loss:  14.2619
Epoch 98, Reconstruct Loss: -25.7697,KLD Loss:  14.2620
Epoch 99, Reconstruct Loss: -25.9477,KLD Loss:  14.2529
Epoch 100, Reconstruct Loss: -27.1365,KLD Loss:  14.2361
filter_mask :  True
len filtered_df : 7892
df_combined : 10
filter_mask :  True
len filtered_df : 8205
df_combined : 10

KeyboardInterrupt: Error: Sampling terminated. No results were saved due to unspecified "output_file_path".

In [11]:
model = pipeline_builder.results['generation_results']['generator_model']

In [12]:
for i, child in enumerate(model._model.encoder.seq.children()):
    if i < 2:
        for param in child.parameters():
            print(param.requires_grad)

True
True

In [5]:
synth

{'generation_results': {'synthetic_data':        age     workclass  fnlwgt      education  education-num  \
  0       44       Private  395942        HS-grad              7
  1       56     State-gov  207793   Some-college             12
  2       40       Private   96988        HS-grad             11
  3       43   Federal-gov   52352   Some-college              5
  4       39       Private   45930   Some-college             14
  ...    ...           ...     ...            ...            ...
  32556   58       Private   26258   Some-college             13
  32557   27   Federal-gov  172852   Some-college             14
  32558   31       Private  634264        HS-grad             10
  32559   72       Private   76253   Some-college              9
  32560   42       Private   57576            9th             12

              marital-status          occupation    relationship  \
  0            Never-married        Craft-repair         Husband
  1            Never-married               Sales         Husband
  2            Never-married        Adm-clerical       Own-child
  3                 Divorced                   ?         Husband
  4       Married-civ-spouse   Machine-op-inspct   Not-in-family
  ...                    ...                 ...             ...
  32556   Married-civ-spouse        Tech-support         Husband
  32557   Married-civ-spouse        Adm-clerical            Wife
  32558   Married-civ-spouse   Machine-op-inspct   Not-in-family
  32559   Married-civ-spouse     Exec-managerial       Unmarried
  32560        Never-married   Handlers-cleaners         Husband

                        race      sex  capital-gain  capital-loss  \
  0                    White     Male            46             4
  1                    White   Female            57             0
  2                    White     Male             7             3
  3                    White     Male            13             0
  4                    White   Female            73             1
  ...                    ...      ...           ...           ...
  32556                White   Female            74             0
  32557                White   Female            38             0
  32558                White   Female            42             0
  32559                White   Female            76             4
  32560   Amer-Indian-Eskimo     Male            51             0

         hours-per-week  native-country  income
  0                  40   United-States   <=50K
  1                  26   United-States   <=50K
  2                  40   United-States   <=50K
  3                  47   United-States   <=50K
  4                  52   United-States   <=50K
  ...               ...             ...     ...
  32556              40   United-States   <=50K
  32557              18   United-States    >50K
  32558              57           South   <=50K
  32559              40   United-States   <=50K
  32560              40   United-States   <=50K

  [32561 rows x 15 columns],
  'generator_model': <data_synthesizer.sdv.ctgan.ctgan_synthesizer_modified.SDVCTGAN_ at 0x7f8342c79880>},
 'resemblance_evaluation_results': {'categorical_univariate': {'chi_test':                 chisquared_tests_p
   workclass                 0.685735
   education                 0.592877
   marital-status            0.439165
   occupation                0.075962
   relationship              0.746129
   race                      0.953195
   sex                       0.296967
   native-country            0.987672
   income                    0.733345,
   'jensen_shanon':                 KL_divergence_tests  JS_divergence
   workclass                  0.014599       0.079200
   education                  0.021062       0.089973
   marital-status             0.020839       0.091790
   occupation                 0.017707       0.081923
   relationship               0.016834       0.079442
   race                       0.040395       0.126972
   sex                        0.005673       0.044885
   native-country             0.039088       0.127040
   income                     0.002376       0.029048,
   'jensen_shanon_data_mean': KL_divergence_tests    0.019841
   JS_divergence          0.083363
   dtype: float64,
   'mode_collapse_dict': {}},
  'numerical_univariate': {'univariate_num_s':                 mann_whitney      wilcoxon     student_t  welchs_Ttest  \
   age             0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
   fnlwgt          2.741577e-18  4.609761e-20  4.619605e-12  4.619837e-12
   education-num   4.887050e-05  2.148456e-04  2.391714e-06  2.391748e-06
   capital-gain    0.000000e+00  0.000000e+00  1.840994e-37  1.980615e-37
   capital-loss    0.000000e+00  0.000000e+00  1.812109e-10  1.812297e-10
   hours-per-week  3.217820e-46  2.057725e-42  7.867412e-59  7.928083e-59

                       ks_test_p
   age              0.000000e+00
   fnlwgt           2.833732e-60
   education-num    6.993236e-38
   capital-gain     0.000000e+00
   capital-loss     0.000000e+00
   hours-per-week  4.430068e-238  ,
   'univariate_num_js':                 KL_divergence_tests  JS_divergence  cohen_s_d
   age                        1.232985       0.184520   0.401673
   fnlwgt                     0.000026       0.097825   0.054219
   education-num              3.286990       0.129412   0.036973
   capital-gain               0.005335       0.481723   0.100310
   capital-loss               0.005522       0.116005   0.049982
   hours-per-week             1.047821       0.194036   0.126877,
   'univariate_num_js_data_mean': KL_divergence_tests    0.929780
   JS_divergence          0.200587
   cohen_s_d              0.128339
   dtype: float64},
  'categorical_multivariate': {'cramer_real':                 workclass  education  marital-status  occupation  \
   workclass        1.000000   0.099369        0.085061    0.399993
   education        0.099369   1.000000        0.091569    0.187334
   marital-status   0.085061   0.091569        1.000000    0.133213
   occupation       0.399993   0.187334        0.133213    1.000000
   relationship     0.098712   0.122654        0.487963    0.178626
   race             0.056280   0.074900        0.084219    0.080826
   sex              0.153670   0.095621        0.461827    0.424364
   native-country   0.045810   0.132637        0.073070    0.073121
   income           0.179208   0.368838        0.447404    0.351892

                   relationship      race       sex  native-country    income
   workclass           0.098712  0.056280  0.153670        0.045810  0.179208
   education           0.122654  0.074900  0.095621        0.132637  0.368838
   marital-status      0.487963  0.084219  0.461827        0.073070  0.447404
   occupation          0.178626  0.080826  0.424364        0.073121  0.351892
   relationship        1.000000  0.098099  0.649000        0.085310  0.453585
   race                0.098099  1.000000  0.118115        0.409258  0.100812
   sex                 0.649000  0.118115  1.000000        0.067148  0.215980
   native-country      0.085310  0.409258  0.067148        1.000000  0.098705
   income              0.453585  0.100812  0.215980        0.098705  1.000000  ,
   'cramer_synth':                 workclass  education  marital-status  occupation  \
   workclass        1.000000   0.021235        0.018087    0.022528
   education        0.021235   1.000000        0.025836    0.021028
   marital-status   0.018087   0.025836        1.000000    0.022611
   occupation       0.022528   0.021028        0.022611    1.000000
   relationship     0.017630   0.025109        0.016799    0.027721
   race             0.018848   0.025094        0.017767    0.025460
   sex              0.027378   0.045305        0.040140    0.032698
   native-country   0.040115   0.035496        0.036692    0.036087
   income           0.011289   0.035356        0.040014    0.028327

                   relationship      race       sex  native-country    income
   workclass           0.017630  0.018848  0.027378        0.040115  0.011289
   education           0.025109  0.025094  0.045305        0.035496  0.035356
   marital-status      0.016799  0.017767  0.040140        0.036692  0.040014
   occupation          0.027721  0.025460  0.032698        0.036087  0.028327
   relationship        1.000000  0.015943  0.011236        0.038369  0.025051
   race                0.015943  1.000000  0.039108        0.035070  0.027737
   sex                 0.011236  0.039108  1.000000        0.031400  0.005998
   native-country      0.038369  0.035070  0.031400        1.000000  0.041574
   income              0.025051  0.027737  0.005998        0.041574  1.000000  ,
   'diff_norm_cramer': 0.7048999999999999},
  'numerical_multivariate': {'pearson_real':                      age    fnlwgt  education-num  capital-gain  capital-loss  \
   age             1.000000  0.076646       0.036527      0.077674      0.057775
   fnlwgt          0.076646  1.000000       0.043195      0.000432      0.010252
   education-num   0.036527  0.043195       1.000000      0.122630      0.079923
   capital-gain    0.077674  0.000432       0.122630      1.000000      0.031615
   capital-loss    0.057775  0.010252       0.079923      0.031615      1.000000
   hours-per-week  0.068756  0.018768       0.148123      0.078409      0.054256

                   hours-per-week
   age                   0.068756
   fnlwgt                0.018768
   education-num         0.148123
   capital-gain          0.078409
   capital-loss          0.054256
   hours-per-week        1.000000  ,
   'pearson_synth':                      age    fnlwgt  education-num  capital-gain  capital-loss  \
   age             1.000000  0.012817       0.003277      0.001128      0.004579
   fnlwgt          0.012817  1.000000       0.007206      0.007674      0.006315
   education-num   0.003277  0.007206       1.000000      0.000356      0.000735
   capital-gain    0.001128  0.007674       0.000356      1.000000      0.010531
   capital-loss    0.004579  0.006315       0.000735      0.010531      1.000000
   hours-per-week  0.013438  0.004517       0.009969      0.001002      0.005015

                   hours-per-week
   age                   0.013438
   fnlwgt                0.004517
   education-num         0.009969
   capital-gain          0.001002
   capital-loss          0.005015
   hours-per-week        1.000000  ,
   'pearson_norm_diff': 0.030999999999999694},
  'categorical_numerical_multivariate': {'corr_ratio_real': {'corr':                 workclass  education  marital-status  occupation  \
    age              0.218365   0.229077        0.573546    0.186472
    fnlwgt           0.052620   0.067111        0.054406    0.055344
    education-num    0.197346   1.000000        0.115492    0.556586
    capital-gain     0.104268   0.197873        0.087206    0.119566
    capital-loss     0.046975   0.099203        0.081717    0.085112
    hours-per-week   0.228189   0.194284        0.250627    0.311444

                    relationship      race       sex  native-country    income
    age                 0.474219  0.043588  0.088832        0.088367  0.234037
    fnlwgt              0.037277  0.140456  0.026858        0.158627  0.009463
    education-num       0.160911  0.109650  0.012280        0.276936  0.335154
    capital-gain        0.090418  0.023410  0.048480        0.035641  0.223329
    capital-loss        0.087701  0.026708  0.045567        0.053354  0.150526
    hours-per-week      0.310074  0.054680  0.229309        0.048591  0.229689  ,
    'ax': <Axes: >},
   'corr_ratio_synth': {'corr':                 workclass  education  marital-status  occupation  \
    age              0.017941   0.020332        0.013357    0.019960
    fnlwgt           0.021606   0.023499        0.013413    0.025683
    education-num    0.014873   0.020232        0.022792    0.018795
    capital-gain     0.020407   0.025397        0.018984    0.016911
    capital-loss     0.019211   0.020720        0.010499    0.020224
    hours-per-week   0.025806   0.016889        0.008765    0.025177

                    relationship      race       sex  native-country    income
    age                 0.014110  0.020925  0.016572        0.037551  0.030107
    fnlwgt              0.018858  0.007461  0.008456        0.043012  0.003846
    education-num       0.017658  0.005992  0.015733        0.030525  0.018107
    capital-gain        0.009679  0.005823  0.002546        0.038670  0.004150
    capital-loss        0.011473  0.016424  0.006636        0.037014  0.010992
    hours-per-week      0.010056  0.015682  0.012023        0.031045  0.008622  ,
    'ax': <Axes: >},
   'diff_norm_corr_ratio': 1.6022}}}

In [6]:
from data_synthesizer.privacy_sampling import get_epsilon


get_epsilon(df_real_adult_train, synth, cat_list_adult, num_list_adult)

0.0499984644206259

In [8]:
train_data_to_evaluate = DataLoader(dataset = df_real_credit_card_train).get_dataframe(cat_list_credit_card)
synth_data_to_evaluate = DataLoader(dataset = synth).get_dataframe(cat_list_credit_card)

uni_evaluators = UnivariateEvaluator(train_data_to_evaluate, synth_data_to_evaluate)
uni_evaluators.evaluate_mode_collapse_values()
mode_collapse = uni_evaluators.get_mode_collapse()

KeyError: 'SEX'

In [7]:
import pandas as pd
mask = pd.Series([False] * len(df_real_credit_card_train))

for feature, values in mode_collapse.items():
    print(values)
    mask |= df_real_credit_card_train[feature].isin(values)

['0', '3', '4', '5', '6']
['0', '3']
['2', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['2', '3', '4', '5', '6', '7', '8']
['2', '3', '4', '5', '6', '7', '8']
['1']

In [8]:
filtered_D = df_real_credit_card_train[mask]
print(filtered_D)

       LIMIT_BAL SEX EDUCATION MARRIAGE  AGE PAY_0 PAY_2 PAY_3 PAY_4 PAY_5  \
2       180000.0   2         5        1   44     0     0    -1    -1    -1
5        20000.0   1         3        2   32     1     2     0     0     0
9       360000.0   2         3        1   43    -2    -2    -2    -2    -2
10      220000.0   2         2        2   38    -1    -1    -1    -1    -1
12      100000.0   1         1        2   27    -1     2     0     0     0
...          ...  ..       ...      ...  ...   ...   ...   ...   ...   ...
23992   280000.0   2         1        1   32     1    -2    -1     0     0
23993   160000.0   2         2        1   42     0     0     0     0     0
23996   200000.0   1         1        2   37     2     2     2     2     2
23998    70000.0   2         2        2   25     0     0     0     0     2
23999   160000.0   2         2        1   36    -2    -2    -2    -2    -2

       ... BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
2      ...       0.0     6881.0    10340.0       0.0     850.0       0.0
5      ...   19588.0    20037.0    19880.0       0.0    1302.0     685.0
9      ...   15584.0     3195.0     4261.0     805.0    1071.0   15604.0
10     ...    1621.0     8522.0     4149.0    5575.0    4716.0    1632.0
12     ...    6746.0     7889.0        0.0       0.0    1000.0    2000.0
...    ...       ...        ...        ...       ...       ...       ...
23992  ...    3508.0     -200.0     -200.0       0.0    3508.0       0.0
23993  ...  119529.0   122059.0   111378.0    8450.0    5289.0    4022.0
23996  ...  164182.0   169029.0   172084.0   13500.0    6000.0       0.0
23998  ...   35122.0    28633.0    28039.0    3000.0    2000.0    4500.0
23999  ...    2935.0     1603.0    14129.0       0.0    3660.0    3135.0

       PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
2        6881.0   10340.0     182.0                           0
5         748.0     697.0     690.0                           0
9        3195.0    4269.0    3525.0                           0
10       8559.0    4164.0   10626.0                           1
12       3323.0       0.0       0.0                           1
...         ...       ...       ...                         ...
23992       0.0       0.0       0.0                           1
23993    4195.0    3986.0    3958.0                           1
23996    7500.0    6000.0    4000.0                           1
23998    1200.0       0.0    1200.0                           1
23999    1650.0   14200.0    1500.0                           1

[10436 rows x 24 columns]

In [27]:
filtered_D.reset_index()

,index,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,2,180000.0,2,5,1,44,0,0,-1,-1,...,0.0,6881.0,10340.0,0.0,850.0,0.0,6881.0,10340.0,182.0,0
1,5,20000.0,1,3,2,32,1,2,0,0,...,19588.0,20037.0,19880.0,0.0,1302.0,685.0,748.0,697.0,690.0,0
2,9,360000.0,2,3,1,43,-2,-2,-2,-2,...,15584.0,3195.0,4261.0,805.0,1071.0,15604.0,3195.0,4269.0,3525.0,0
3,10,220000.0,2,2,2,38,-1,-1,-1,-1,...,1621.0,8522.0,4149.0,5575.0,4716.0,1632.0,8559.0,4164.0,10626.0,1
4,12,100000.0,1,1,2,27,-1,2,0,0,...,6746.0,7889.0,0.0,0.0,1000.0,2000.0,3323.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10431,23992,280000.0,2,1,1,32,1,-2,-1,0,...,3508.0,-200.0,-200.0,0.0,3508.0,0.0,0.0,0.0,0.0,1
10432,23993,160000.0,2,2,1,42,0,0,0,0,...,119529.0,122059.0,111378.0,8450.0,5289.0,4022.0,4195.0,3986.0,3958.0,1
10433,23996,200000.0,1,1,2,37,2,2,2,2,...,164182.0,169029.0,172084.0,13500.0,6000.0,0.0,7500.0,6000.0,4000.0,1
10434,23998,70000.0,2,2,2,25,0,0,0,0,...,35122.0,28633.0,28039.0,3000.0,2000.0,4500.0,1200.0,0.0,1200.0,1
10435,23999,160000.0,2,2,1,36,-2,-2,-2,-2,...,2935.0,1603.0,14129.0,0.0,3660.0,3135.0,1650.0,14200.0,1500.0,1

In [10]:
ctgan.fit_with_only_rare(filtered_D)
ctgan.reset_sampling()
synth_data_new = ctgan.sample(len(df_real_credit_card_train))

mask_ = pd.Series([False] * len(df_real_credit_card_train))

for feature, values in mode_collapse.items():
    print(values)
    mask_ |= synth_data_new[feature].isin(values)

Epoch 1, Reconstruct Loss:  27.0434,KLD Loss:  4.7940
Epoch 2, Reconstruct Loss:  30.1614,KLD Loss:  5.2331
Epoch 3, Reconstruct Loss:  36.4279,KLD Loss:  5.5586
Epoch 4, Reconstruct Loss:  46.8723,KLD Loss:  4.6960
Epoch 5, Reconstruct Loss:  55.3024,KLD Loss:  2.0771
['0', '3', '4', '5', '6']
['0', '3']
['2', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['1', '3', '4', '5', '6', '7', '8']
['2', '3', '4', '5', '6', '7', '8']
['2', '3', '4', '5', '6', '7', '8']
['1']

In [14]:
filtered_D_ = synth_data_new[mask_]
filtered_D_

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,118241.0,2,2,1,35,0,2,2,0,0,...,1914.0,23769.0,17619.0,413.0,586.0,1291.0,2362.0,0.0,3955.0,0
1,160208.0,2,2,1,33,0,2,2,0,0,...,-3570.0,21745.0,32241.0,1296.0,2483.0,455.0,1664.0,306.0,2588.0,0
2,126621.0,2,2,1,35,0,2,2,0,0,...,71.0,21458.0,13619.0,1569.0,1789.0,933.0,1647.0,0.0,246.0,0
3,142494.0,2,2,1,34,0,2,2,0,0,...,-472.0,10138.0,17305.0,2310.0,403.0,0.0,2511.0,412.0,2795.0,0
4,121203.0,2,2,1,31,0,2,2,0,0,...,-20.0,33551.0,10505.0,2247.0,1603.0,857.0,1658.0,0.0,3165.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,132362.0,2,2,1,33,0,2,2,0,0,...,729.0,17296.0,8899.0,0.0,0.0,413.0,2442.0,0.0,3043.0,0
23996,145460.0,2,2,1,38,0,2,2,0,0,...,-1019.0,14361.0,6516.0,138.0,1451.0,609.0,3081.0,340.0,1074.0,0
23997,154833.0,2,2,1,38,0,2,2,0,0,...,3788.0,22496.0,870.0,0.0,1521.0,0.0,589.0,24.0,2726.0,0
23998,152616.0,2,2,1,33,0,2,2,0,0,...,-1257.0,26667.0,6083.0,2482.0,1884.0,668.0,684.0,0.0,2433.0,0
23999,158552.0,2,2,1,39,0,2,2,0,0,...,-561.0,20837.0,17339.0,0.0,431.0,310.0,834.0,286.0,851.0,0

In [28]:
train_data_to_evaluate = DataLoader(dataset = df_real_credit_card_train).get_dataframe(cat_list_credit_card)
synth_data_to_evaluate_new = DataLoader(dataset = df_combined).get_dataframe(cat_list_credit_card)

uni_evaluators = UnivariateEvaluator(train_data_to_evaluate, synth_data_to_evaluate_new)
uni_evaluators.evaluate_mode_collapse_values()
mode_collapse_ = uni_evaluators.get_mode_collapse()

In [29]:
mode_collapse

{'EDUCATION': ['0', '3', '4', '5', '6'],
 'MARRIAGE': ['0', '3'],
 'PAY_0': ['2', '3', '4', '5', '6', '7', '8'],
 'PAY_2': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_3': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_4': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_5': ['2', '3', '4', '5', '6', '7', '8'],
 'PAY_6': ['2', '3', '4', '5', '6', '7', '8'],
 'default.payment.next.month': ['1']}

In [30]:
mode_collapse_

{'EDUCATION': ['0', '3', '4', '5', '6'],
 'MARRIAGE': ['0', '3'],
 'PAY_0': ['2', '3', '4', '5', '6', '7', '8'],
 'PAY_2': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_3': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_4': ['1', '3', '4', '5', '6', '7', '8'],
 'PAY_5': ['2', '3', '4', '5', '6', '7', '8'],
 'PAY_6': ['2', '3', '4', '5', '6', '7', '8']}

In [14]:
most_frequent = {}
for column in synth.columns:
    most_common_value = synth[column].value_counts().idxmax()
    most_frequent[column] = most_common_value

In [27]:
df_combined = synth.copy()
most_common_value = most_frequent['EDUCATION']
most_common_value

'2'

In [40]:
(synth_data_new['EDUCATION'] == '0').any()

False

In [15]:

df_combined = synth.copy()
for feature, values in mode_collapse.items():
    print(feature, ' : ', values)
    most_common_value = most_frequent[feature]
    for value in values :
        filter = (synth_data_to_evaluate_new[feature] == value)
        filtered_df = synth_data_to_evaluate_new[filter]
        ten_sampled_df = filtered_df.sample(n=10, random_state=42) if len(filtered_df) >= 10 else filtered_df
        df_combined = pd.concat([df_combined, ten_sampled_df], ignore_index=True)

        filter_most = (df_combined[feature] == most_common_value)
        # filtered_df_most = df_combined[filter]
        random_index = df_combined[filter_most].sample(len(ten_sampled_df)).index
        df_combined = df_combined.drop(random_index)

EDUCATION  :  ['0', '3', '4', '5', '6']
MARRIAGE  :  ['0', '3']
PAY_0  :  ['2', '3', '4', '5', '6', '7', '8']
PAY_2  :  ['1', '3', '4', '5', '6', '7', '8']
PAY_3  :  ['1', '3', '4', '5', '6', '7', '8']
PAY_4  :  ['1', '3', '4', '5', '6', '7', '8']
PAY_5  :  ['2', '3', '4', '5', '6', '7', '8']
PAY_6  :  ['2', '3', '4', '5', '6', '7', '8']
default.payment.next.month  :  ['1']

### evaluation pipeline

In [3]:
pipeline_builder = PipelineBuilder(df_real_credit_card_train, cat_list_credit_card, num_list_credit_card)
# pipeline_builder.add_ressemblance_evaluation_task(df_real_credit_card_test, df_real_credit_card_ctgan_fourth )
# pipeline_builder.add_utility_evaluation_task(df_real_credit_card_test, [ClassifierType.XGBOOST, ClassifierType.CART], df_real_credit_card_ctgan_fourth)
qai_columns = ['LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE']
risk_column = ['PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6','default.payment.next.month']
pipeline_builder.add_privacy_anonymeter_evaluation_task(df_real_credit_card_test, df_real_credit_card_ctgan_fourth )

pipeline = pipeline_builder.build()
synth = pipeline_builder.run()

Privacy anonymeter evaluation in progress.

Found 21 failed queries out of 500. Check DEBUG messages for more details.
Found 68 failed queries out of 500. Check DEBUG messages for more details.

end

In [14]:
for key in synth['resemblance_evaluation_results'] :
    print(key)

categorical_univariate
numerical_univariate
categorical_multivariate
numerical_multivariate
categorical_numerical_multivariate

In [4]:
synth

{'privacy_anonymeter_evaluation_results': {'singling_univariate': AnonymeterResults(attacks_numbers=500, attacks_succeeded=60, privacy_risk_original=0.12289724937538986, privacy_risk_control=0.1837185152398014, privacy_risk_naive=0.03556819133600645, specific_privacy=0.0),
  'singling_multivariate': AnonymeterResults(attacks_numbers=500, attacks_succeeded=57, privacy_risk_original=0.11694299541815917, privacy_risk_control=0.06867004284042351, privacy_risk_naive=0.04152244529323714, specific_privacy=0.051832277279001394),
  'linkability_attacks': AnonymeterResults(attacks_numbers=2000, attacks_succeeded=2000, privacy_risk_original=0.0343943025567045, privacy_risk_control=0.0249125145058764, privacy_risk_naive=0.003952772498782709, specific_privacy=0.00972403829593118)}}